# –î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è: –í–Ω–µ—Å–µ–Ω–Ω—è –æ–Ω–æ–≤–ª–µ–Ω—å –≤ –ë–î —ñ —Ä–æ–±–æ—Ç–∞ –∑ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è–º–∏

–¶–µ –î–ó –ø–µ—Ä–µ–¥–±–∞—á–µ–Ω–µ –ø—ñ–¥ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è –Ω–∞ –ª–æ–∫–∞–ª—å–Ω—ñ–π –º–∞—à–∏–Ω—ñ. –í–∏–∫–æ–Ω–∞–Ω–Ω—è –∑ Google Colab –±—É–¥–µ —Å—É—Ç—Ç—î–≤–æ —É—Å–∫–ª–∞–¥–Ω–µ–Ω–µ.

## –ü—ñ–¥–≥–æ—Ç–æ–≤–∫–∞
1. –ü–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—å, —â–æ —É –≤–∞—Å –≤—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω—ã –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ –±—ñ–±–ª—ñ–æ—Ç–µ–∫–∏:
   ```bash
   pip install sqlalchemy pymysql pandas matplotlib seaborn python-dotenv
   ```

2. –°—Ç–≤–æ—Ä—ñ—Ç—å —Ñ–∞–π–ª `.env` –∑ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –±–∞–∑–∏ –¥–∞–Ω–∏—Ö classicmodels. –ë–∞–∑—É –¥–∞–Ω–∏—Ö –≤–∏ –º–æ–∂–µ—Ç–µ –æ—Ç—Ä–∏–º–∞—Ç–∏ —á–µ—Ä–µ–∑

  - docker-–∫–æ–Ω—Ç–µ–π–Ω–µ—Ä –∑–≥—ñ–¥–Ω–æ —ñ—Å–Ω—Ç—Ä—É–∫—Ü—ñ—ó –≤ [–¥–æ–∫—É–º–µ–Ω—Ç—ñ](https://www.notion.so/hannapylieva/Docker-1eb94835849480c9b2e7f5dc22ee4df9), —Ç–∞–∫–æ–∂ –≤—ñ–¥–µ–æ —ñ–Ω—Å—Ç—Ä—É–∫—Ü—ñ—ó –ø—Ä–∏—Å—É—Ç–Ω—ñ –Ω–∞ –ø–ª–∞—Ç—Ñ–æ—Ä–º—ñ - —É—Ä–æ–∫–∏ "MySQL –±–∞–∑–∏, –∫–ª—ñ—î–Ω—Ç –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –ë–î, Docker —ñ ChatGPT –¥–ª—è –∑–∞–ø–∏—Ç—ñ–≤" —Ç–∞ "–Ø–∫ –≤—Å—Ç–∞–Ω–æ–≤–∏—Ç–∏ Docker –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –±–∞–∑–∞–º–∏ –¥–∞–Ω–∏—Ö –±–µ–∑ —Ç–µ—Ä–º—ñ–Ω–∞–ª—É"
  - –∞–±–æ –≤—Å—Ç–∞–Ω–æ–≤–∏–≤—à–∏ –ª–æ–∫–∞–ª—å–Ω–æ —Ü—é –ë–î - –¥–ª—è —Ü—å–æ–≥–æ –ø–µ—Ä–µ–≥–ª—è–Ω—å—Ç–µ —É—Ä–æ–∫ "–û–ø—Ü—ñ–æ–Ω–∞–ª—å–Ω–æ. –í—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–Ω—è MySQL —Ç–∞  –ë–î –°lassicmodels –ª–æ–∫–∞–ª—å–Ω–æ".
  
  –ü—Ä–∏–∫–ª–∞–¥ `.env` —Ñ–∞–π–ª—É –º–∏ —Å—Ç–≤–æ—Ä—é–≤–∞–ª–∏ –≤ –ª–µ–∫—Ü—ñ—ó. –û—Å—å –π–æ–≥–æ –æ–±–æ–≤ º—è–∑–∫–æ–≤–µ –Ω–∞–ø–æ–≤–Ω–µ–Ω–Ω—è:
    ```
    DB_HOST=your_host
    DB_PORT=3306 –∞–±–æ 3307 - —Ç–æ–π, —è–∫–∏–π –í–∏ –Ω–∞–ª–∞—à—Ç—É–≤–∞–ª–∏
    DB_USER=your_username
    DB_PASSWORD=your_password
    DB_NAME=classicmodels
    ```
  –Ø–∫—â–æ –≤–∏ —Å—Ç–≤–æ—Ä–∏–ª–∏ —Ü–µ–π —Ñ–∞–π–ª –ø—ñ–¥ —á–∞—Å –ø–µ—Ä–µ–≥–ª—è–¥—É –ª–µ–∫—Ü—ñ—ó - **–Ω–æ–≤–∏–π —Å—Ç–≤–æ—Ä—é–≤–∞—Ç–∏ –Ω–µ —Ç—Ä–µ–±–∞**. –ó–∞–º—ñ–Ω—ñ—Ç—å –ª–∏—à–µ –Ω–∞–∑–≤—É –ë–î, –∞–±–æ –ø—Ä–æ–ø–∏—à—ñ—Ç—å –Ω–∞–∑–≤—É –≤ –∫–æ–¥—ñ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è (–∑–∞–º—ñ—Å—Ç—å –æ—Ç—Ä–∏–º–∞–Ω–Ω—è –Ω–∞–∑–≤–∏ —Ü—ñ–ª—å–æ–≤–æ—ó –ë–î –∑—ñ –∑–º—ñ–Ω–Ω–∏—Ö –æ—Ç–æ—á–µ–Ω–Ω—è). –ê–ª–µ –ø–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—å, —â–æ –¥–æ `.env` —Ñ–∞–π–ª –ª–µ–∂–∏—Ç—å –≤ —Ç—ñ–π —Å–∞–º—ñ–π –ø–∞–ø—Ü—ñ, —â–æ —ñ —Ü–µ–π –Ω–æ—É—Ç–±—É–∫.

  **–£–í–ê–ì–ê!** –ù–ï –∫–æ–ø—ñ—é–π—Ç–µ —Å–∫—Ä–∏—Ç –¥–ª—è **—Å—Ç–≤–æ—Ä–µ–Ω–Ω—è** `.env` —Ñ–∞–π–ª—É. –í –ª–µ–∫—Ü—ñ—ó –≤—ñ–Ω –Ω–∞–≤–æ–¥–∏—Ç—å—Å—è –¥–ª—è –ø—Ä–∏–∫–ª–∞–¥—É. –Ü –¥–∞–≤–∞–ª–æ—Å—å –ø–æ—è—Å–Ω–µ–Ω–Ω—è, —â–æ –≤ —Ä–µ–∞–ª—å–Ω–∏—Ö –ø—Ä–æ—î–∫—Ç–∞—Ö –º–∏ –ù–Ü–ö–û–õ–ò –Ω–µ –ø–∏—à–µ–º–æ –¥–æ—Å—Ç—É–ø–∏ –¥–æ –±–∞–∑–∏ –≤ –∫–æ–¥—ñ. –ö–æ–ø—ñ—é–≤–∞–Ω–Ω—è —Å–∫—Ä–∏–ø—Ç–∞ –¥–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è `.env` —Ñ–∞–π–ª—É —Å—é–¥–∏ –≤ –î–ó –±—É–¥–µ –≤–≤–∞–∂–∞—Ç–∏—Å—å –≥—Ä—É–±–æ—é –ø–æ–º–∏–ª–∫–æ—é —ñ –º–∏ –∑–Ω—ñ–º–∞—Ç–∏–º–µ–º–æ –±–∞–ª–∏.

3. –ù–∞–ª–∞—à—Ç—É–π—Ç–µ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è —á–µ—Ä–µ–∑ SQLAlchemy –¥–æ –ë–î –∑–∞ –ø—Ä–∏–∫–ª–∞–¥–æ–º –≤ –ª–µ–∫—Ü—ñ—ó.

–†–µ–∫–æ–º–µ–Ω–¥—É—é –≤–∏–≤–µ—Å—Ç–∏ (–≤—ñ–¥–æ–±—Ä–∞–∑–∏—Ç–∏) –∑–º—ñ–Ω–Ω—É engine –ø—ñ—Å–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è. –í–æ–Ω–∞ –º–∞—î –±—É—Ç–∏ –Ω–µ None! –Ø–∫—â–æ None - –∑–Ω–∞—á–∏—Ç—å —É –í–∞—Å –Ω–µ –ø—ñ–¥—Ç—è–≥–Ω—É–ª–∏—Å—å –Ω–∞–ª–∞—à—Ç—É–≤–∞–Ω–Ω—è –∑ .env —Ñ–∞–π–ª–∞.

–í–∏ —Ç–∞–∫–æ–∂ –º–æ–∂–µ—Ç–µ –Ω–∞–ª–∞—à—Ç—É–≤–∞—Ç–∏ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î –±–µ–∑ .env —Ñ–∞–π–ª–∞, –ø—Ä–æ—Å—Ç–æ –ø—Ä–æ–ø–∏—Å–∞–≤—à–∏ —Ç–µ–∫—Å—Ç–æ–º –≤ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–∏—Ö –º—ñ—Å—Ü—è—Ö. –¶–µ - –Ω–µ —Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞–Ω–∏–π –ø—ñ–¥—Ö—ñ–¥.


## –ó–∞–≤–¥–∞–Ω–Ω—è

### –ó–∞–≤–¥–∞–Ω–Ω—è 1: –û–Ω–æ–≤–ª–µ–Ω–Ω—è —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –ø—Ä–æ –∫–ª—ñ—î–Ω—Ç–∞ (2 –±–∞–ª–∏)

**–°—Ç–≤–æ—Ä—ñ—Ç—å —Ñ—É–Ω–∫—Ü—ñ—é –¥–ª—è –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –∫–æ–Ω—Ç–∞–∫—Ç–Ω–æ—ó —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –∫–ª—ñ—î–Ω—Ç–∞ –∑–∞ –π–æ–≥–æ –Ω–æ–º–µ—Ä–æ–º** –∑ –Ω–∞—Å—Ç—É–ø–Ω–∏–º–∏ –º–æ–∂–ª–∏–≤–æ—Å—Ç—è–º–∏:
- –û–Ω–æ–≤–ª–µ–Ω–Ω—è —Ç–µ–ª–µ—Ñ–æ–Ω—É –∫–ª—ñ—î–Ω—Ç–∞
- –û–Ω–æ–≤–ª–µ–Ω–Ω—è email (—è–∫—â–æ –ø–æ–ª–µ —ñ—Å–Ω—É—î –≤ —Ç–∞–±–ª–∏—Ü—ñ)

–û–ø—Ü—ñ–æ–Ω–∞–ª—å–Ω–æ, —è–∫—â–æ –≤–∞–º —Ö–æ—á–µ—Ç—å—Å—è –±—ñ–ª—å—à–µ –ø—Ä–∞–∫—Ç–∏–∫–∏:
- –õ–æ–≥—É–≤–∞–Ω–Ω—è –∑–º—ñ–Ω –≤ –æ–∫—Ä–µ–º—É —Ç–∞–±–ª–∏—Ü—é

–í–∏–∫–æ—Ä–∏—Å—Ç–∞–π—Ç–µ –ø—ñ–¥—Ö—ñ–¥ –∑ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏–∑–æ–≤–∞–Ω–∏–º–∏ –∑–∞–ø–∏—Ç–∞–º–∏ —á–µ—Ä–µ–∑ `text()` —Ç–∞ `UPDATE` –æ–ø–µ—Ä–∞—Ç–æ—Ä. –ù–µ –∑–∞–±—É–¥—å—Ç–µ –Ω–∞ –ø–æ—á–∞—Ç–∫—É –ø–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏ —á–∏ —ñ—Å–Ω—É—î –∫–ª—ñ—î–Ω—Ç –∑ —Ç–∞–∫–∏–º –Ω–æ–º–µ—Ä–æ–º –≤ –±–∞–∑—ñ - —Ü–µ —Ö–æ—Ä–æ—à–∞ –ø—Ä–∞–∫—Ç–∏–∫–∞.

–û—Ç—Ä–∏–º–∞—Ç–∏ –≤—Å—ñ –∫–æ–ª–æ–Ω–∫–∏, —è–∫—ñ —ñ—Å–Ω—É—é—Ç—å –≤ —Ç–∞–±–ª–∏—Ü—ñ –≤–∏ –º–æ–∂–µ—Ç–µ –Ω–∞—Å—Ç—É–ø–Ω–∏–º –∑–∞–ø–∏—Ç–æ–º
```
  SELECT COLUMN_NAME, DATA_TYPE
  FROM INFORMATION_SCHEMA.COLUMNS
  WHERE TABLE_NAME = 'customers'
```

–ó–∞–ø—É—Å—Ç—ñ—Ç—å —Ñ—É–Ω–∫—Ü—ñ—é —ñ –ø—Ä–æ–¥–µ–º–æ–Ω—Å—Ç—Ä—É–π—Ç–µ —ó—ó —Ä–æ–±–æ—Ç—É, –∑–∞–ø—É—Å—Ç–∏–≤—à–∏ SELECT, —è–∫–∏–π –¥–æ–ø–æ–º–æ–∂–µ —Ü–µ –∑—Ä–æ–±–∏—Ç–∏.

In [1]:
# –í—Å—Ç–∞–Ω–æ–≤–ª—é—î–º–æ —Å—É—á–∞—Å–Ω–∏–π —Å—Ç–µ–∫ –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –ë–î
!pip install sqlalchemy pymysql openpyxl requests python-dotenv --quiet

In [2]:
import datetime
import requests
import json
import os

from dotenv import load_dotenv
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine, text, MetaData, Table
from sqlalchemy.orm import sessionmaker

# import warnings
# warnings.filterwarnings('ignore')

In [3]:
def create_connection():
    """
    –°—Ç–≤–æ—Ä—é—î –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è —á–µ—Ä–µ–∑ SQLAlchemy
    """
    # –ó–∞–≤–∞–Ω—Ç–∞–∂—É—î–º–æ –∑–º—ñ–Ω–Ω—ñ —Å–µ—Ä–µ–¥–æ–≤–∏—â–∞
    load_dotenv()

    # –û—Ç—Ä–∏–º—É—î–º–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –∑ environment variables
    host = os.getenv('DB_HOST', 'localhost')
    port = os.getenv('DB_PORT', '3306')
    user = os.getenv('DB_USER')
    password = os.getenv('DB_PASSWORD')
    database = os.getenv('DB_NAME')

    if not all([user, password, database]):
        raise ValueError("–ù–µ –≤—Å—ñ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ë–î –∑–∞–¥–∞–Ω—ñ –≤ .env —Ñ–∞–π–ª—ñ!")

    # –°—Ç–≤–æ—Ä—é—î–º–æ connection string
    connection_string = f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"

    # –°—Ç–≤–æ—Ä—é—î–º–æ engine –∑ connection pooling
    engine = create_engine(
        connection_string,
        pool_size=2,           # –†–æ–∑–º—ñ—Ä –ø—É–ª—É –ø—ñ–¥–∫–ª—é—á–µ–Ω—å
        max_overflow=20,        # –ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –¥–æ–¥–∞—Ç–∫–æ–≤–∏—Ö –ø—ñ–¥–∫–ª—é—á–µ–Ω—å
        pool_pre_ping=True,     # –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –ø–µ—Ä–µ–¥ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è–º
        echo=False              # –õ–æ–≥—É–≤–∞–Ω–Ω—è SQL –∑–∞–ø–∏—Ç—ñ–≤ (True –¥–ª—è debug)
    )

    # –¢–µ—Å—Ç—É—î–º–æ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è
    try:
        with engine.connect() as conn:
            result = conn.execute(text("SELECT 1"))
            result.fetchone()

        print("‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!")
        print(f"üîó {user}@{host}:{port}/{database}")
        print(f"‚ö° Engine: {engine}")

        return engine

    except Exception as e:
        print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è: {e}")
        return None

# –°—Ç–≤–æ—Ä—é—î–º–æ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è
engine = create_connection()

‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!
üîó root@127.0.0.1:3306/classicmodels
‚ö° Engine: Engine(mysql+pymysql://root:***@127.0.0.1:3306/classicmodels)

In [4]:
# –û–±—Ä–∞–ª–∞ –∫–ª—ñ—î–Ω—Ç–∞ where customerNumber = 362. 
# –ü–æ—á–∞—Ç–∫–æ–≤—ñ–π –±–∞–∑—ñ –¥–∞–Ω–∏—Ö –π–æ–≥–æ –Ω–æ–º–µ—Ä = 6175559555
# –ö–æ–ª–æ–Ω–∫–∏ –∑ –ø–æ—à—Ç–æ—é –Ω–µ–º–∞—î

def update_customer_contact_info(engine, customerNumber, new_phone):
    """
    –ó–º—ñ–Ω—é—î–º–æ –Ω–æ–º–µ—Ä —Ç–µ–ª–µ—Ñ–æ–Ω—É –¥–ª—è customerNumber = 362 –∑ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è–º —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó
    """

    # –°–ø–æ—á–∞—Ç–∫—É –ø–µ—Ä–µ–≤—ñ—Ä—è—î–º–æ —á–∏ —ñ—Å–Ω—É—î –∫–ª—ñ—î–Ω—Ç (–æ–∫—Ä–µ–º–æ –≤—ñ–¥ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó)
    check_query = text("SELECT customerName FROM customers WHERE customerNumber = :cust_no")

    with engine.connect() as conn:
        result = conn.execute(check_query, {'cust_no': customerNumber})
        customer = result.fetchone()

        if not customer:
            print(f"‚ùå –ö–ª—ñ—î–Ω—Ç –ó –Ω–æ–º–µ—Ä–æ–º {customerNumber} –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–∏–π")
            return False

        customer_name = f"{customer[0]}"
        print(f"üë§ –ó–º—ñ–Ω—é—î–º–æ –Ω–æ–º–µ—Ä {customer_name} (ID: {customerNumber})")

    # SQL-–∑–∞–ø–∏—Ç –¥–ª—è –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –Ω–æ–º–µ—Ä–∞ —Ç–µ–ª–µ—Ñ–æ–Ω—É
    update_query = text("""
        UPDATE customers
        SET phone = :new_phone
        WHERE customerNumber = :cust_no
    """)
     # –¢–µ–ø–µ—Ä —Å—Ç–≤–æ—Ä—é—î–º–æ –Ω–æ–≤–µ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–ª—è —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó
    try:
        with engine.connect() as conn:
            with conn.begin():
                result = conn.execute(update_query, {'new_phone': new_phone, 'cust_no': customerNumber})
                
                if result.rowcount > 0:
                    print(f"‚úÖ –£—Å–ø—ñ—à–Ω–æ –æ–Ω–æ–≤–ª–µ–Ω–æ –Ω–æ–º–µ—Ä —Ç–µ–ª–µ—Ñ–æ–Ω—É –¥–ª—è –∫–ª—ñ—î–Ω—Ç–∞ '{customer_name}' (ID: {customerNumber}).")
                    print(f"   –ù–æ–≤–∏–π –Ω–æ–º–µ—Ä —Ç–µ–ª–µ—Ñ–æ–Ω—É: {new_phone}")
                    return True
                else:
                    print(f"‚ùå –ù–µ –≤–¥–∞–ª–æ—Å—è –æ–Ω–æ–≤–∏—Ç–∏ –Ω–æ–º–µ—Ä —Ç–µ–ª–µ—Ñ–æ–Ω—É –¥–ª—è –∫–ª—ñ—î–Ω—Ç–∞ '{customer_name}' (ID: {customerNumber}).")
                    return False
    except Exception as e:
        print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –ø—Ä–∏ –æ–Ω–æ–≤–ª–µ–Ω–Ω—ñ: {e}")
        return False

# –¢–µ—Å—Ç—É—î–º–æ –∑–º—ñ–Ω—É –Ω–æ–º–µ—Ä–∞
customerNumber = 362
success = update_customer_contact_info(
    engine,
    customerNumber,
    new_phone="0631118240"
)

üë§ –ó–º—ñ–Ω—é—î–º–æ –Ω–æ–º–µ—Ä Gifts4AllAges.com (ID: 362)
‚úÖ –£—Å–ø—ñ—à–Ω–æ –æ–Ω–æ–≤–ª–µ–Ω–æ –Ω–æ–º–µ—Ä —Ç–µ–ª–µ—Ñ–æ–Ω—É –¥–ª—è –∫–ª—ñ—î–Ω—Ç–∞ 'Gifts4AllAges.com' (ID: 362).
   –ù–æ–≤–∏–π –Ω–æ–º–µ—Ä —Ç–µ–ª–µ—Ñ–æ–Ω—É: 0631118240

In [5]:
safe_query = text("""
    SELECT customerNumber, customerName, phone FROM customers WHERE customerNumber = 362;
""")

df_new = pd.read_sql(
    safe_query,
    engine)
display(df_new)

   customerNumber       customerName       phone
0             362  Gifts4AllAges.com  0631118240

### –ó–∞–≤–¥–∞–Ω–Ω—è 2: –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –∑ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—î—é (5 –±–∞–ª—ñ–≤)

**–†–µ–∞–ª—ñ–∑—É–π—Ç–µ –ø—Ä–æ—Ü–µ—Å —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è** –∑ –Ω–∞—Å—Ç—É–ø–Ω–∏–º–∏ –∫—Ä–æ–∫–∞–º–∏ –≤ –æ–¥–Ω—ñ–π —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó:
- –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –∑–∞–ø–∏—Å—É –≤ —Ç–∞–±–ª–∏—Ü—ñ `orders`
- –î–æ–¥–∞–≤–∞–Ω–Ω—è —Ç–æ–≤–∞—Ä–Ω–∏—Ö –ø–æ–∑–∏—Ü—ñ–π –≤ `orderdetails`
- –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ
- –ó–º–µ–Ω—à–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ

–ó–∞–ø—É—Å—Ç—ñ—Ç—å –ø—Ä–æ—Ü–µ—Å –∑ —Ç–µ—Å—Ç–æ–≤–∏–º–∏ –¥–∞–Ω–∏–º–∏ —ñ –ø—Ä–æ–¥–µ–º–æ–Ω—Å—Ç—Ä—É–π—Ç–µ —á–µ—Ä–µ–∑ SELECT, —â–æ –ø—Ä–æ—Ü–µ—Å —É—Å–ø—ñ—à–Ω–æ –≤—ñ–¥–ø—Ä–∞—Ü—é–≤–∞–≤ —ñ –±—É–ª–∏ –≤–∏–∫–æ–Ω–∞–Ω—ñ –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ –æ–ø–µ—Ä–∞—Ü—ñ—ó.

In [7]:
def create_new_order_transaction(engine, customer_number, product_list):
    """
    –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è —è–∫ —î–¥–∏–Ω–æ—ó —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó.
    
    :param engine: –û–±'—î–∫—Ç engine SQLAlchemy.
    :param customer_number: –ù–æ–º–µ—Ä –∫–ª—ñ—î–Ω—Ç–∞, —è–∫–∏–π —Ä–æ–±–∏—Ç—å –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è.
    :param product_list: –°–ø–∏—Å–æ–∫ —Å–ª–æ–≤–Ω–∏–∫—ñ–≤ –∑ –¥–∞–Ω–∏–º–∏ –ø—Ä–æ —Ç–æ–≤–∞—Ä:
                         [{'productCode': 'S10_1678', 'quantityOrdered': 10}, ...]
    """
    try:
        with engine.connect() as conn:
            with conn.begin() as transaction:
                # –ö—Ä–æ–∫ 1: –û—Ç—Ä–∏–º–∞–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –Ω–æ–º–µ—Ä–∞ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è 
                result = conn.execute(text("SELECT MAX(orderNumber) FROM orders"))
                max_order_number = result.fetchone()[0]
                new_order_number = max_order_number + 1

                today = datetime.date.today()
                
                # –ö—Ä–æ–∫ 2: –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –∑–∞–ø–∏—Å—É –≤ —Ç–∞–±–ª–∏—Ü—ñ orders
                insert_order_query = text("""
                    INSERT INTO orders (orderNumber, orderDate, requiredDate, status, customerNumber)
                    VALUES (:order_no, :order_date, :required_date, 'In Process', :customer_no)
                """)
                conn.execute(insert_order_query, {
                    'order_no': new_order_number,
                    'order_date': today,
                    'required_date': today + datetime.timedelta(days=7),
                    'customer_no': customer_number
                })
                print(f"‚úÖ –ö—Ä–æ–∫ 1: –ó–∞–ø–∏—Å –ø—Ä–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è {new_order_number} —Å—Ç–≤–æ—Ä–µ–Ω–æ.")

                # –ö—Ä–æ–∫ 3: –î–æ–¥–∞–≤–∞–Ω–Ω—è —Ç–æ–≤–∞—Ä–Ω–∏—Ö –ø–æ–∑–∏—Ü—ñ–π —Ç–∞ –∑–º–µ–Ω—à–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –Ω–∞ —Å–∫–ª–∞–¥—ñ
                for i, item in enumerate(product_list):
                    product_code = item['productCode']
                    quantity_ordered = item['quantityOrdered']
                    
                    # 3.1: –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—É
                    check_stock_query = text("""
                        SELECT quantityInStock FROM products WHERE productCode = :product_code
                    """)
                    stock_result = conn.execute(check_stock_query, {'product_code': product_code})
                    stock_level = stock_result.fetchone()[0]
                    
                    if stock_level < quantity_ordered:
                        raise ValueError(f"–ù–µ–¥–æ—Å—Ç–∞—Ç–Ω—å–æ —Ç–æ–≤–∞—Ä—É –Ω–∞ —Å–∫–ª–∞–¥—ñ: {product_code}. –í –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ: {stock_level}, –∑–∞–º–æ–≤–ª–µ–Ω–æ: {quantity_ordered}")

                    # 3.2: –î–æ–¥–∞–≤–∞–Ω–Ω—è –ø–æ–∑–∏—Ü—ñ—ó –≤ orderdetails
                    insert_detail_query = text("""
                        INSERT INTO orderdetails (orderNumber, productCode, quantityOrdered, priceEach, orderLineNumber)
                        VALUES (:order_no, :product_code, :quantity_ordered, 
                                (SELECT priceEach FROM orderdetails WHERE productCode = :product_code LIMIT 1),
                                :line_number)
                    """)
                    conn.execute(insert_detail_query, {
                        'order_no': new_order_number,
                        'product_code': product_code,
                        'quantity_ordered': quantity_ordered,
                        'line_number': i + 1
                    })

                    # 3.3: –ó–º–µ–Ω—à–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ
                    update_stock_query = text("""
                        UPDATE products
                        SET quantityInStock = quantityInStock - :quantity
                        WHERE productCode = :product_code
                    """)
                    conn.execute(update_stock_query, {
                        'quantity': quantity_ordered,
                        'product_code': product_code
                    })
                    print(f"   ‚úÖ –î–æ–¥–∞–Ω–æ —Ç–æ–≤–∞—Ä {product_code} —Ç–∞ –æ–Ω–æ–≤–ª–µ–Ω–æ —Å–∫–ª–∞–¥.")

                transaction.commit()
                print("‚úÖ –¢—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è —É—Å–ø—ñ—à–Ω–æ –∑–∞–≤–µ—Ä—à–µ–Ω–∞. –í—Å—ñ –∑–º—ñ–Ω–∏ –∑–∞—Ñ—ñ–∫—Å–æ–≤–∞–Ω—ñ (COMMIT).")

    except ValueError as ve:
        # –û–±—Ä–æ–±–∫–∞ –ø–æ–º–∏–ª–∫–∏ –Ω–µ—Å—Ç–∞—á—ñ —Ç–æ–≤–∞—Ä—É
        print(f"‚ùå –ü–æ–º–∏–ª–∫–∞: {ve}")
        # SQLAlchemy –∞–≤—Ç–æ–º–∞—Ç–∏—á–Ω–æ –∑—Ä–æ–±–∏—Ç—å rollback –ø—Ä–∏ –≤–∏—Ö–æ–¥—ñ –∑ with conn.begin()
    except Exception as e:
        # –û–±—Ä–æ–±–∫–∞ —ñ–Ω—à–∏—Ö –ø–æ–º–∏–ª–æ–∫
        print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –ø—Ä–∏ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—ñ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è: {e}")
        # –ê–≤—Ç–æ–º–∞—Ç–∏—á–Ω–∏–π rollback

        # –°—Ç–≤–æ—Ä—é—î–º–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –∑ –¥–≤–æ–º–∞ —Ç–æ–≤–∞—Ä–∞–º–∏
    product_list = [
        {'productCode': 'S18_3782', 'quantityOrdered': 1},
        {'productCode': 'S24_2360', 'quantityOrdered': 2}
    ]
    
    print("--- –£—Å–ø—ñ—à–Ω–µ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è ---")
    create_new_order_transaction(engine, 362, product_list)

In [8]:
def create_new_order_transaction(engine, customer_number, product_list):
    """
    –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è —è–∫ —î–¥–∏–Ω–æ—ó —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó.
    
    :param product_list: –°–ø–∏—Å–æ–∫ —Å–ª–æ–≤–Ω–∏–∫—ñ–≤ –∑ –¥–∞–Ω–∏–º–∏ –ø—Ä–æ —Ç–æ–≤–∞—Ä.
    """
    try:
        with engine.connect() as conn:
            with conn.begin() as transaction:
                # –ö—Ä–æ–∫ 1: –Ω–æ–≤–∏–π –Ω–æ–º–µ—Ä –∑–∞–º–æ–≤–ª–µ–Ω—è
                result = conn.execute(text("SELECT MAX(orderNumber) FROM orders"))
                max_order_number = result.fetchone()[0]
                new_order_number = max_order_number + 1
                
                today = datetime.date.today()
                
                insert_order_query = text("""
                    INSERT INTO orders (orderNumber, orderDate, requiredDate, status, customerNumber)
                    VALUES (:order_no, :order_date, :required_date, 'In Process', :customer_no)
                """)
                conn.execute(insert_order_query, {
                    'order_no': new_order_number,
                    'order_date': today,
                    'required_date': today + datetime.timedelta(days=7),
                    'customer_no': customer_number
                })
                print(f"‚úÖ –ö—Ä–æ–∫ 1: –ó–∞–ø–∏—Å –ø—Ä–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è {new_order_number} —Å—Ç–≤–æ—Ä–µ–Ω–æ.")

                # –ö—Ä–æ–∫ 2: –î–æ–¥–∞–≤–∞–Ω–Ω—è —Ç–æ–≤–∞—Ä–Ω–∏—Ö –ø–æ–∑–∏—Ü—ñ–π —Ç–∞ –∑–º–µ–Ω—à–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –Ω–∞ —Å–∫–ª–∞–¥—ñ
                for i, item in enumerate(product_list):
                    product_code = item['productCode']
                    quantity_ordered = item['quantityOrdered']
                    
                    # 2.1: –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ —Ç–∞ –æ—Ç—Ä–∏–º–∞–Ω–Ω—è —Ü—ñ–Ω–∏ –∑ —Ç–∞–±–ª–∏—Ü—ñ products
                    check_product_query = text("""
                        SELECT quantityInStock, buyPrice FROM products WHERE productCode = :product_code
                    """)
                    product_result = conn.execute(check_product_query, {'product_code': product_code}).fetchone()
                    
                    if not product_result:
                        raise ValueError(f"–¢–æ–≤–∞—Ä –∑ –∫–æ–¥–æ–º {product_code} –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–∏–π.")

                    stock_level, buy_price = product_result
                    
                    if stock_level < quantity_ordered:
                        raise ValueError(f"–ù–µ–¥–æ—Å—Ç–∞—Ç–Ω—å–æ —Ç–æ–≤–∞—Ä—É –Ω–∞ —Å–∫–ª–∞–¥—ñ: {product_code}. –í –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ: {stock_level}, –∑–∞–º–æ–≤–ª–µ–Ω–æ: {quantity_ordered}")

                    # 2.2: –î–æ–¥–∞–≤–∞–Ω–Ω—è –ø–æ–∑–∏—Ü—ñ—ó –≤ orderdetails
                    insert_detail_query = text("""
                        INSERT INTO orderdetails (orderNumber, productCode, quantityOrdered, priceEach, orderLineNumber)
                        VALUES (:order_no, :product_code, :quantity_ordered, :price_each, :line_number)
                    """)
                    conn.execute(insert_detail_query, {
                        'order_no': new_order_number,
                        'product_code': product_code,
                        'quantity_ordered': quantity_ordered,
                        'price_each': buy_price,
                        'line_number': i + 1
                    })

                    # 2.3: –ó–º–µ–Ω—à–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ
                    update_stock_query = text("""
                        UPDATE products
                        SET quantityInStock = quantityInStock - :quantity
                        WHERE productCode = :product_code
                    """)
                    conn.execute(update_stock_query, {
                        'quantity': quantity_ordered,
                        'product_code': product_code
                    })
                    print(f"   ‚úÖ –î–æ–¥–∞–Ω–æ —Ç–æ–≤–∞—Ä {product_code} —Ç–∞ –æ–Ω–æ–≤–ª–µ–Ω–æ —Å–∫–ª–∞–¥.")

                transaction.commit()
                print("‚úÖ –¢—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è —É—Å–ø—ñ—à–Ω–æ –∑–∞–≤–µ—Ä—à–µ–Ω–∞. –í—Å—ñ –∑–º—ñ–Ω–∏ –∑–∞—Ñ—ñ–∫—Å–æ–≤–∞–Ω—ñ (COMMIT).")

    except ValueError as ve:
        print(f"‚ùå –ü–æ–º–∏–ª–∫–∞: {ve}")
    except Exception as e:
        print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –ø—Ä–∏ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—ñ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è: {e}")

    
# –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è
product_list = [
        {'productCode': 'S18_3782', 'quantityOrdered': 1},
        {'productCode': 'S24_2360', 'quantityOrdered': 2}
    ]
print("--- –£—Å–ø—ñ—à–Ω–µ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è ---")
create_new_order_transaction(engine, 362, product_list)

--- –£—Å–ø—ñ—à–Ω–µ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è ---
‚úÖ –ö—Ä–æ–∫ 1: –ó–∞–ø–∏—Å –ø—Ä–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è 10426 —Å—Ç–≤–æ—Ä–µ–Ω–æ.
   ‚úÖ –î–æ–¥–∞–Ω–æ —Ç–æ–≤–∞—Ä S18_3782 —Ç–∞ –æ–Ω–æ–≤–ª–µ–Ω–æ —Å–∫–ª–∞–¥.
   ‚úÖ –î–æ–¥–∞–Ω–æ —Ç–æ–≤–∞—Ä S24_2360 —Ç–∞ –æ–Ω–æ–≤–ª–µ–Ω–æ —Å–∫–ª–∞–¥.
‚úÖ –¢—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è —É—Å–ø—ñ—à–Ω–æ –∑–∞–≤–µ—Ä—à–µ–Ω–∞. –í—Å—ñ –∑–º—ñ–Ω–∏ –∑–∞—Ñ—ñ–∫—Å–æ–≤–∞–Ω—ñ (COMMIT).

In [10]:
safe_query_1 = text("""
    select productCode ,quantityInStock 
from products p 
where p.productCode in ('S18_3782', 'S24_2360');
""")

df_prod = pd.read_sql(
    safe_query_1,
    engine)
display(df_prod)

  productCode  quantityInStock
0    S18_3782             7688
1    S24_2360             6838

In [11]:
safe_query_2 = text("""
    SELECT *
FROM classicmodels.orders
where customerNumber = 362;
""")

df_cust = pd.read_sql(
    safe_query_2,
    engine)
display(df_cust)

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber
0,10264,2004-06-30,2004-07-06,2004-07-01,Shipped,Customer will send a truck to our local wareho...,362
1,10295,2004-09-10,2004-09-17,2004-09-14,Shipped,They want to reevaluate their terms agreement ...,362
2,10414,2005-05-06,2005-05-13,None,On Hold,Customer credit limit exceeded. Will ship when...,362
3,10426,2025-09-07,2025-09-14,None,In Process,None,362