#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [3]:
import pandas as pd

In [4]:
path = (r'D:/DataLovesAcademy/Hometask/supermarket_sales_v2.csv') # –∑–∞–≤–∞–Ω—Ç–∞–∂–∏–ª–∞ –¥–æ–æ–ø—Ä–∞—Ü—å–æ–≤–∞–Ω—ñ –¥–∞–Ω—ñ –∑ –ø–æ–ø–µ—Ä–µ–¥–Ω—å–æ—ó –¥–∑, —Å–ø–æ–¥—ñ–≤–∞—é—Å—å –Ω–µ –±—É–¥–µ –ø–æ–º–∏–ª–∫–æ—é
df = pd.read_csv(path)

In [5]:
df.head(3)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Rating Category,Hour
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,High,13
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,High,10
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,Medium,13

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [6]:
df.groupby('Branch')['gross income'].sum().round(2).sort_values(ascending = False).head(1)

Branch
C    5265.18
Name: gross income, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [7]:
df.groupby(by = ['Branch','City'])['gross income'].sum().round(2)#.sort_values(ascending = False).head(1)

Branch  City
A       Yangon       5057.16
B       Mandalay     5057.03
C       Naypyitaw    5265.18
Name: gross income, dtype: float64

–û—Å–∫—ñ–ª—å–∫–∏ –º–∏ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞–ª–∏ –ó–∞–≥–∞–ª—å–Ω–∏–π —á–µ–∫ –∑–∞ –æ—Å–Ω–æ–≤–Ω–∏–º–∏ –º–µ—Ç—Ä–∏–∫–∞–º–∏ –ø–æ –≤—Å—ñ—Ö –º—ñ—Å—Ç–∞—Ö –≤ –ø–æ–ø–µ—Ä–µ–¥–Ω—ñ–π –¥–∑
—Ç–∞ –≤–∏—Ö–æ–¥—è—á–∏ –∑ —Ç–æ–≥–æ, —â–æ –æ–¥–∏–Ω —Ñ—ñ–ª—ñ–∞–ª = –æ–¥–Ω–µ –º—ñ—Å—Ç–æ,
Naypyitaw –≤–∏–≥–ª—è–¥–∞—î —Ç–∞–∫–∏–º, —â–æ –º–æ–∂–Ω–∞ –≤—ñ–¥–∫—Ä–∏—Ç–∏ –≤ —Ü—å–æ–º—É –º—ñ—Å—Ç—ñ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω, –±–æ —Ü–µ –º—ñ—Å—Ç–æ –º–∞—î –Ω–∞–π–±—ñ–ª—å—à–∏–π –≤–∞–ª–æ–≤–∏–π –¥–æ—Ö—ñ–¥ —Ç–∞ –¥–æ–≤–æ–ª—ñ –∑–±–∞–ª–∞–Ω—Å–æ–≤–∞–Ω–∏–π —Ä–æ–∑–ø–æ–¥—ñ–ª –ø–æ–∫–∞–∑–Ω–∏–∫—ñ–≤ –∑–∞–≥–∞–ª—å–Ω–æ–≥–æ —á–µ–∫—É –ø–æ–∫—É–ø—Ü—ñ–≤.

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [9]:
 invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values=['Invoice ID'], aggfunc="count")

In [10]:
invoices_by_category

                         Invoice ID                                         \
Product line Electronic accessories Fashion accessories Food and beverages
Branch
A                                60                  51                 58
B                                55                  62                 50
C                                55                  65                 66


Product line Health and beauty Home and lifestyle Sports and travel
Branch
A                           47                 65                59
B                           53                 50                62
C                           52                 45                45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [17]:
invoices_by_category[('Invoice ID', 'Electronic accessories')].idxmax()

'A'

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

–ì—ñ–ø–æ—Ç–µ–∑–∞ 1: —á–∏ –≤–ø–ª–∏–≤–∞—î —Å–ø–æ—Å—ñ–± –æ–ø–ª–∞—Ç–∏ –ø–æ–∫—É–ø–∫–∏ –Ω–∞ —Å—É–º—É –ø–æ–∫—É–ø–∫–∏?

In [25]:
(df.groupby(by = ['Payment'])['Total'].sum()/1000).round(2).sort_values(ascending = False)

Payment
Cash           112.21
Ewallet        109.99
Credit card    100.77
Name: Total, dtype: float64

In [26]:
df.groupby(by = ['Payment'])['Invoice ID'].count().round(2).sort_values(ascending = False)

Payment
Ewallet        345
Cash           344
Credit card    311
Name: Invoice ID, dtype: int64

In [28]:
df.groupby(by = ['Payment'])['gross income'].sum().round(2).sort_values(ascending = False)

Payment
Cash           5343.17
Ewallet        5237.77
Credit card    4798.43
Name: gross income, dtype: float64

–í–∏—Å–Ω–æ–≤–æ–∫ 1: –û–ø–ª–∞—Ç–∞ –∫–µ—à–µ–º –ø—Ä–∏–Ω–æ—Å–∏—Ç—å –Ω–∞–π–±—ñ–ª—å—à–∏–π –¥–æ—Ö—ñ–¥ (–≤ –ø–æ—Ä—ñ–≤–Ω—è–Ω–Ω—ñ –∑ –æ–ø–ª–∞—Ç–æ—é Ewallet, –æ—Å–∫—ñ–ª—å–∫–∏ –ø–æ –∫-—Ç—å –∑–¥—ñ–π—Å–Ω–µ–Ω–∏—Ö –ø–æ–∫—É–ø–æ–∫ –≤–æ–Ω–∏ –º–∞–π–∂–µ –æ–¥–Ω–∞–∫–æ–≤—ñ).
–ü—Ä–æ–ø–æ–∑–∏—Ü—ñ—è: —Å—Ç–∏–º—É–ª—é–≤–∞—Ç–∏ —â–µ –±—ñ–ª—å—à–µ –ø–æ–∫—É–ø—Ü—ñ–≤ —Ä–æ–∑–ø–ª–∞—á—É–≤–∞—Ç–∏—Å—å –≥–æ—Ç—ñ–≤–∫–æ—é –∑–∞ —Ä–∞—Ö—É–Ω–æ–∫ —è–∫–∏—Ö–æ—Å—å –∞–∫—Ü—ñ–π (—Ö–æ—á–∞ —Ü–µ —ñ —Ç—Ä–æ—Ö–∏ —Å—É–ø–µ—Ä–µ—á–∏—Ç—å —Å—É—á–∞—Å–Ω–æ–º—É —Å–≤—ñ—Ç—É).
–í–∏—Å–Ω–æ–≤–æ–∫ 2: –û–ø–ª–∞—Ç–∞ –∫—Ä–µ–¥–∏—Ç–Ω–∏–º–∏ –∫–æ—à—Ç–∞–º–∏ –ø—Ä–∏–Ω–æ—Å–∏—Ç—å –Ω–∞–π–º–µ–Ω—à–∏–π –¥–æ—Ö—ñ–¥. –Ü –∫–ª—ñ—î–Ω—Ç–∏ –Ω–∞–π–º–µ–Ω—à–µ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å —Ü–µ–π —Å–ø–æ—Å—ñ–± –æ–ø–ª–∞—Ç–∏.
–ü—Ä–æ–ø–æ–∑–∏—Ü—ñ—è: –ê–±–∏ –±—É—Ç–∏ –≤—Ç—Ä–µ–Ω–¥—ñ —Å—É—á–∞—Å–Ω–æ–≥–æ —Å–≤—ñ—Ç—É —Ç—Ä–µ–±–∞ —Å—Ç–∏–º—É–ª—é–≤–∞—Ç–∏ –∫–ª—ñ—î–Ω—Ç—ñ–≤ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É–≤–∞—Ç–∏ –∫—Ä–µ–¥–∏—Ç–Ω—ñ –∫–æ—à—Ç–∏ –∑–∞ —Ä–∞—Ö—É–Ω–æ–∫ –æ—Ç—Ä–∏–º–∞–Ω–Ω—è –∫–µ—à–±–µ–∫—É –∞–±–æ –Ω–µ–≤–µ–ª–∏—á–∫–∏—Ö –∑–Ω–∏–∂–æ–∫.

–ì—ñ–ø–æ—Ç–µ–∑–∞ 2: –ß–∏ –≤–ø–ª–∏–≤–∞—î —Å—Ç–∞—Ç—å –ø–æ–∫—É–ø—Ü—è –Ω–∞ —Å–ø–æ—Å—ñ–± –æ–ø–ª–∞—Ç–∏?

In [33]:
df.groupby(by=['Gender', 'Payment'])['Invoice ID'].count().round(2).groupby(level='Gender', group_keys=False).apply(lambda x: x.sort_values(ascending=False))

Gender  Payment
Female  Cash           178
        Credit card    163
        Ewallet        160
Male    Ewallet        185
        Cash           166
        Credit card    148
Name: Invoice ID, dtype: int64

–í–∏—Å–Ω–æ–≤–æ–∫: —Å–ø–æ—Å—Ç–µ—Ä—ñ–≥–∞—î–º–æ —Ä—ñ–∑–Ω—É –ø–æ–≤–µ–¥—ñ–Ω–∫—É. –ß–æ–ª–æ–≤—ñ–∫–∏ –Ω–∞–π—á–∞—Å—Ç—ñ—à–µ –æ–ø–ª–∞—á—É—é—Ç—å –ø–æ–∫—É–ø–∫–∏ —á–µ—Ä–µ–∑ –ï-–≤–æ–ª–µ—Ç, –ñ—ñ–Ω–∫–∏ - –≥–æ—Ç—ñ–≤–∫–æ—é. –ê–ª–µ, –∂—ñ–Ω–∫–∏ —á–∞—Å—Ç—ñ—à–µ (–Ω–∞ 10%) –∫–æ—Ä–∏—Å—Ç—É—é—Ç—å—Å—è –∫—Ä–µ–¥–∏—Ç–∫–æ—é –Ω—ñ–∂ —á–æ–ª–æ–≤—ñ–∫–∏.
–ü—Ä–æ–ø–æ–∑–∏—Ü—ñ—è: –ø–æ–¥—É–º–∞—Ç–∏ –Ω–∞–¥ –∞–∫—Ü—ñ—è–º–∏ –¥–ª—è –∂—ñ–Ω–æ–∫ –∞–±–∏ –ø—ñ–¥–≤–∏—â–∏—Ç–∏ –æ–ø–ª–∞—Ç–∏ —è–∫ –≥–æ—Ç—ñ–≤–∫–æ—é —Ç–∞–∫ —ñ –∫—Ä–µ–¥–∏–∫–æ—é. –Ü —Ç–∞–∫–æ–∂ –Ω–µ –∑–∞–±—É—Ç–∏ –ø—Ä–æ –ø–ª—é—à–∫–∏ –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤, —è–∫—ñ –≤–∏–∫–æ—Ä—Å—Ç–æ–≤—É—é—Ç—å –ï-–≤–æ–ª–µ—Ç.

–ì—ñ–ø–æ—Ç–µ–∑–∞ 3: 
–ß–∏ –∂—ñ–Ω–∫–∏, —è–∫—ñ –ø–ª–∞—Ç—è—Ç—å –≥–æ—Ç—ñ–≤–∫–æ—é, —Ä–æ–±–ª—è—Ç—å –±—ñ–ª—å—à—ñ –ø–æ–∫—É–ø–∫–∏, –Ω—ñ–∂ –∂—ñ–Ω–∫–∏, —è–∫—ñ –ø–ª–∞—Ç—è—Ç—å –∫—Ä–µ–¥–∏—Ç–∫–æ—é?
–ß–∏ —á–æ–ª–æ–≤—ñ–∫–∏, —è–∫—ñ –ø–ª—Ç—è—Ç—å –ï-–≤–æ–ª–µ—Ç, –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –±—ñ–ª—å—à–µ, –Ω—ñ–∂ —á–æ–ª–æ–≤—ñ–∫–∏, —è–∫—ñ –ø–ª–∞—Ç—è—Ç—å –≥–æ—Ç—ñ–≤–∫–æ—é?

In [48]:
piv_tab = pd.pivot_table(df, index='Gender', columns='Payment', values=['Total'], aggfunc="sum")
piv_tab.round(2)

            Total
Payment      Cash Credit card   Ewallet
Gender
Female   59514.21    53498.44  54870.27
Male     52692.36    47268.63  55122.84

In [47]:
piv_tab_mean = pd.pivot_table(df, index='Gender', columns='Payment', values=['Total'], aggfunc="mean")
piv_tab_mean.round(2)

          Total
Payment    Cash Credit card Ewallet
Gender
Female   334.35      328.21  342.94
Male     317.42      319.38  297.96

–Ø–∫–∏–π —Ü—ñ–∫–∞–≤–∏–π –ø–æ–≤–æ—Ä–æ—Ç)
–í–∏—Å–Ω–æ–≤–∫–∏:
–ñ—ñ–Ω–∫–∏: –ù–∞–π–≤–∏—â–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –ø—Ä–∏ –æ–ø–ª–∞—Ç—ñ –ï-–≤–æ–ª–µ—Ç, –ø–æ—Ç—ñ–º –≥–æ—Ç—ñ–≤–∫–∞ —ñ –ª–∏—à–µ –ø–æ—Ç—ñ–º –∫—Ä–µ–¥–∏—Ç–∫–∞. 
–¢–æ–±—Ç–æ, –∂—ñ–Ω–∫–∏, —è–∫—ñ –ø–ª–∞—Ç—è—Ç—å –≥–æ—Ç—ñ–≤–∫–æ—é, –Ω–µ —Ä–æ–±–ª—è—Ç—å –∑–Ω–∞—á–Ω–æ –±—ñ–ª—å—à–∏—Ö –ø–æ–∫—É–ø–æ–∫, –Ω—ñ–∂ —Ç—ñ, —Ö—Ç–æ –ø–ª–∞—Ç–∏—Ç—å –∫—Ä–µ–¥–∏—Ç–∫–æ—é, –∞ –Ω–∞—Å–ø—Ä–∞–≤–¥—ñ –ï-–≤–æ–ª–µ—Ç –¥–∞—î –Ω–∞–π–≤–∏—â–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –¥–ª—è –∂—ñ–Ω–æ–∫.
–ß–æ–ª–æ–≤—ñ–∫–∏: –ù–∞–π–≤–∏—â–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –ø—Ä–∏ –æ–ø–ª–∞—Ç—ñ –∫—Ä–µ–¥–∏—Ç–∫–æ—é, –ø–æ—Ç—ñ–º –≥–æ—Ç—ñ–≤–∫–∞, –∞ –ï-–≤–æ–ª–µ—Ç –¥–∞—î –Ω–∞–π–Ω–∏–∂—á–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫. –¢–æ–±—Ç–æ, —á–æ–ª–æ–≤—ñ–∫–∏, —è–∫—ñ –ø–ª–∞—Ç—è—Ç—å –ï-–≤–æ–ª–µ—Ç, –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –º–µ–Ω—à–µ, –Ω—ñ–∂ —á–æ–ª–æ–≤—ñ–∫–∏, —è–∫—ñ –ø–ª–∞—Ç—è—Ç—å –≥–æ—Ç—ñ–≤–∫–æ—é.
–û–¢–ñ–ï: –ø–æ–ø–µ—Ä–µ–¥–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó –≤–∏—è–≤–∏–ª–∏—Å—å –Ω–µ –∫–æ—Ä–µ–∫—Ç–Ω–∏–º–∏ –≤ —á–∞—Å—Ç–∏–Ω—ñ –Ω–∞—Ü—ñ–ª–µ–Ω–Ω—è –Ω–∞ –ø—Ä–æ—Å—É–≤–∞–Ω–Ω—è –ø–µ–≤–Ω–æ–≥–æ –≤–∏–¥—É –æ–ø–ª–∞—Ç–∏, —Ç–æ–º—É —Ç—Ä–µ–±–∞ –∑–º—ñ–Ω–∏—Ç–∏ –Ω–∞–ø—Ä—è–º.
–ü—Ä–æ–ø–æ–∑–∏—Ü—ñ—è –¥–ª—è –∂—ñ–Ω–æ–∫: –°—Ñ–æ–∫—É—Å—É–≤–∞—Ç–∏—Å—è –Ω–∞ –∞–∫—Ü—ñ—è—Ö –¥–ª—è –∂—ñ–Ω–æ–∫, —è–∫—ñ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å –ï-–≤–æ–ª–µ—Ç, —â–æ–± —Å—Ç–∏–º—É–ª—é–≤–∞—Ç–∏ —ó—Ö –¥–æ —â–µ –±—ñ–ª—å—à–∏—Ö –ø–æ–∫—É–ø–æ–∫, –æ—Å–∫—ñ–ª—å–∫–∏ —Å–∞–º–µ —Ü–µ–π –º–µ—Ç–æ–¥ –¥–∞—î –Ω–∞–π–≤–∏—â–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –¥–ª—è –Ω–∏—Ö.

–ü—Ä–æ–ø–æ–∑–∏—Ü—ñ—è –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤: –¢–∞–∫ —è–∫ —á–æ–ª–æ–≤—ñ–∫–∏ —î –ª—ñ–¥–µ—Ä–∞–º–∏ –∑–∞ –∫-—Ç—é —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ–π —á–µ—Ä–µ–∑ –ï-–≤–æ–ª–µ—Ç (–∑ –ø–æ–ø–µ—Ä–µ–¥–Ω—å–æ—ó –≥—ñ–ø–æ—Ç–µ–∑–∏), –∞–ª–µ –º–∞—é—Ç—å –Ω–∞–π–Ω–∏–∂—á–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –ø—Ä–∏ —Ü—å–æ–º—É, —Ç—Ä–µ–±–∞ –¥–æ–¥–∞—Ç–∫–æ–≤–æ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, —á–æ–º—É —Ç–∞–∫ –≤—ñ–¥–±—É–≤–∞—î—Ç—å—Å—è. –ú–æ–∂–ª–∏–≤–æ, –ï-–≤–æ–ª–µ—Ç –∑—Ä—É—á–Ω–∏–π –¥–ª—è –¥—Ä—ñ–±–Ω–∏—Ö, —à–≤–∏–¥–∫–∏—Ö –ø–æ–∫—É–ø–æ–∫. –ú–æ–∂–Ω–∞ —Å–ø—Ä–æ–±—É–≤–∞—Ç–∏ –∞–∫—Ü—ñ—ó, —è–∫—ñ –∑–∞–æ—Ö–æ—á—É—é—Ç—å —á–æ–ª–æ–≤—ñ–∫—ñ–≤ –∑–±—ñ–ª—å—à—É–≤–∞—Ç–∏ —Å—É–º—É —á–µ–∫–∞ –ø—Ä–∏ –æ–ø–ª–∞—Ç—ñ –ï-–≤–æ–ª–µ—Ç.
+
—Ç—Ä–µ–±–∞ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏ —Ç–æ–≤–∞—Ä–∏ —è–∫—ñ –∫—É–ø—É—é—Ç—å—Å—è –ø—Ä–∏ –æ–ø–ª–∞—Ç—ñ –≥–æ—Ç—ñ–≤–∫–æ—é —á–∏ –∫—Ä–µ–¥–∏—Ç–∫–æ—é –±–æ —É —á–æ–ª–æ–≤—ñ–∫—ñ–≤ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –≤–∏—â–∏–π –ø—Ä–∏ –æ–ø–ª–∞—Ç—ñ —Å–∞–º–µ –≥–æ—Ç—ñ–≤–∫–æ—é –∞–±–æ –∫—Ä–µ–¥–∏—Ç–∫–æ—é.