# Домашнє завдання до теми "Розширені методи обробки даних у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd

In [5]:
import os 
os.listdir(r'D:/DataLovesAcademy/data')

['health_insurance_cross_sell_prediction.csv', 'supermarket_sales.csv']

In [7]:
path = (r'D:/DataLovesAcademy/data/supermarket_sales.csv')
df = pd.read_csv(path)

In [10]:
type(df)

pandas.core.frame.DataFrame

1. Відсортуйте дані за спаданням ціни товара ('Unit price') і виведіть 5 перших рядочків на екран.

In [17]:
df.sort_values(by = 'Unit price', ascending = False).head(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.986,734.706,1/23/2019,10:33,Cash,699.72,4.761905,34.986,6.1
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.982,944.622,3/9/2019,17:26,Credit card,899.64,4.761905,44.982,4.2
930,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,99.92,6,29.976,629.496,3/24/2019,13:33,Ewallet,599.52,4.761905,29.976,7.1
494,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,99.89,2,9.989,209.769,2/26/2019,11:48,Ewallet,199.78,4.761905,9.989,7.1
283,667-92-0055,A,Yangon,Member,Male,Health and beauty,99.83,6,29.949,628.929,3/4/2019,15:02,Ewallet,598.98,4.761905,29.949,8.5

2. Знайдіть інвойс (рядок в даних) в категорії товарів `Electronic accessories`, в якому був куплений товар з найбільшою кількістю і найбільшою ціною. Виведіть цей рядок даних на екран.

In [30]:
# аби працювати з назвою колонок, які містять пробіл, їх треба огорнути в обернений апостроф. АЛЕ!
# !!! зворотні апострофи (backticks `) для іменування колонок, що містять пробіли або спеціальні символи, працюють переважно (і найбільш типово) лише в методі DataFrame.query().
# !!!! Усі інші методи Pandas та загальний доступ до колонок: Використовуйте квадратні дужки ([]) з назвою колонки як рядком. df['Product line']

df.query('`Product line` == "Electronic accessories"').sort_values(by = ['Quantity', 'Unit price'], ascending = [False, False]).head(1)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
105,704-48-3927,A,Yangon,Member,Male,Electronic accessories,88.67,10,44.335,931.035,1/12/2019,14:50,Ewallet,886.7,4.761905,44.335,7.3

3.1. Створіть нову колонку в даних `Rating Category`, яка визначає категорію рейтингу (`Rating`): високий, середній чи низький за наступним правилом:
- якщо рейтинг вищий або рівний 8 - то він високий (`High`)
- якщо рейтинг від 6 до 8 не включаючи - то він середній (`Medium`)
- інакше - низький (`Low`).

In [57]:
def mapping_category(rat):
    if rat >= 8: 
        return 'High'
    elif rat >= 6:
        return 'Medium'
    else:
        return 'Low'

In [62]:
df['Rating Category'] = df.Rating.apply(lambda x: mapping_category(x))

3.2. Виведіть, який відсоток даних становить кожне зі значень категорій рейтингу.

In [64]:
df['Rating Category'].value_counts(normalize=True)

Rating Category
Medium    0.356
High      0.329
Low       0.315
Name: proportion, dtype: float64

4.1. Запустіть код нижче аби створити змінну `time`. Ця змінна містить час в форматі "година:хвилина". Напишіть функцію `get_hour`, яка буде зі змінної формату як `time` дістати лише години і конвертувати їх у тип `int`.

Запустіть написану функцію на змінній `time` та перевірте правильність роботи функції.

In [72]:
time = '11:28'
time

'11:28'

In [71]:
def get_hour(time_int):
    parts = time_int.split(':') # Розбиваємо рядок за символом ':'
    hour_str = parts[0] # під індексом 0 - години
    hour_int = int(hour_str)
    return hour_int

In [74]:
time_hour = get_hour(time)
time_hour

11

4.2. З допомогою функції `get_hour` і метода `DataFrame.apply()` створіть нову колонку `Hour` в нашому наборі даних, яка буде містити години здійснення покупки, обчислені на основі часу здійснення покупки `Time`.

In [80]:
df['Hour'] = df.Time.apply(lambda x: get_hour(x))

4.3. Виведіть кількість значень за кожною годиною покупки і дайте відповідь "О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?".

In [81]:
df['Hour'].value_counts()

Hour
19    113
13    103
15    102
10    101
18     93
11     90
12     89
14     83
16     77
20     75
17     74
Name: count, dtype: int64

Найбільше покупок здійснюють у вечері о 19 годині. Як на мене - це логічно. Ми розглядаємо продажі супермаркетів, а люди завжди роблять покупки після роботи

5. Виведіть середнє значення чеку (`Total`) для покупок в містах, наявних в даних, за допомогою функції `groupby`.

In [84]:
avg_by_city = df.groupby('City')['Total'].mean()
avg_by_city

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

6. Виведіть кількість покупок, середнє, мінімальне та максимальне значення для загальної суми чеку (Total) в містах, наявних в даних, за допомогою функції groupby.
Зробіть висновки з цих показників та дайте рекомендації для мережі супермаркетів.

In [86]:
df.groupby('City')['Total'].agg(['count','mean', 'min', 'max']).round(2)

           count    mean    min      max
City
Mandalay     332  319.87  18.64  1022.49
Naypyitaw    328  337.10  10.68  1042.65
Yangon       340  312.35  12.69  1039.29

По кількості покупок лідирує місто Ягон, проте інші міста не сильно відрізняються к-тю (відрив між містами із найбільшлю і найменшою к-тю покупок складає менше 4%. Це значить міста майже однакові за спроможністю покупців. 
Якщо розглядати середній чек - то найбільший він у Naypyitaw, хоча це місто має найменшу к-ть покупок і в нього найнижчий мінімальний чек. Це значить що в цьому місті більше людей роблять великі покупки.

Потрібно вивчити досвід кожного міста та імплементувати кращі практики інших міст, оскільки кожне місто має свої слабкі місця.
Ягону - слід збільшити середній чек
Naypyitaw - попрацювати над залученістю більшої к-ті клієнтів
Mandalay - добре балансує між показниками інших магазинів і може слугувати деяким "орієнтиром" для інших міст. Але це не означає, що не треба покращувати показники. В цьому місті також можна попрацювати над ще більшою залученністю клієнті в і підняттю максимального чеку.

7. Ми внесли деякі зміни в наш набір даних, тож, давайте запишемо результат у файл. Запишіть оновлену версію даних у файл `supermarket_sales_enriched.csv`. Зверніть увагу, аби не записати нічого зайвого, наприклад, індекси рядків нам в файлі не потрібні, оскільки вони стандартні.

In [87]:
df.to_csv('supermarket_sales_v2.csv', index=False)