#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [3]:
import pandas as pd

In [4]:
path = (r'D:/DataLovesAcademy/Hometask/supermarket_sales_v2.csv') # завантажила доопрацьовані дані з попередньої дз, сподіваюсь не буде помилкою
df = pd.read_csv(path)

In [5]:
df.head(3)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Rating Category,Hour
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,High,13
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,High,10
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,Medium,13

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [6]:
df.groupby('Branch')['gross income'].sum().round(2).sort_values(ascending = False).head(1)

Branch
C    5265.18
Name: gross income, dtype: float64

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [7]:
df.groupby(by = ['Branch','City'])['gross income'].sum().round(2)#.sort_values(ascending = False).head(1)

Branch  City
A       Yangon       5057.16
B       Mandalay     5057.03
C       Naypyitaw    5265.18
Name: gross income, dtype: float64

Оскільки ми проаналізували Загальний чек за основними метриками по всіх містах в попередній дз
та виходячи з того, що один філіал = одне місто,
Naypyitaw виглядає таким, що можна відкрити в цьому місті ще один магазин, бо це місто має найбільший валовий дохід та доволі збалансований розподіл показників загального чеку покупців.

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [9]:
 invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values=['Invoice ID'], aggfunc="count")

In [10]:
invoices_by_category

                         Invoice ID                                         \
Product line Electronic accessories Fashion accessories Food and beverages
Branch
A                                60                  51                 58
B                                55                  62                 50
C                                55                  65                 66


Product line Health and beauty Home and lifestyle Sports and travel
Branch
A                           47                 65                59
B                           53                 50                62
C                           52                 45                45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [17]:
invoices_by_category[('Invoice ID', 'Electronic accessories')].idxmax()

'A'

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

Гіпотеза 1: чи впливає спосіб оплати покупки на суму покупки?

In [25]:
(df.groupby(by = ['Payment'])['Total'].sum()/1000).round(2).sort_values(ascending = False)

Payment
Cash           112.21
Ewallet        109.99
Credit card    100.77
Name: Total, dtype: float64

In [26]:
df.groupby(by = ['Payment'])['Invoice ID'].count().round(2).sort_values(ascending = False)

Payment
Ewallet        345
Cash           344
Credit card    311
Name: Invoice ID, dtype: int64

In [28]:
df.groupby(by = ['Payment'])['gross income'].sum().round(2).sort_values(ascending = False)

Payment
Cash           5343.17
Ewallet        5237.77
Credit card    4798.43
Name: gross income, dtype: float64

Висновок 1: Оплата кешем приносить найбільший дохід (в порівнянні з оплатою Ewallet, оскільки по к-ть здійснених покупок вони майже однакові).
Пропозиція: стимулювати ще більше покупців розплачуватись готівкою за рахунок якихось акцій (хоча це і трохи суперечить сучасному світу).
Висновок 2: Оплата кредитними коштами приносить найменший дохід. І клієнти найменше використовують цей спосіб оплати.
Пропозиція: Аби бути втренді сучасного світу треба стимулювати клієнтів використовувати кредитні кошти за рахунок отримання кешбеку або невеличких знижок.

Гіпотеза 2: Чи впливає стать покупця на спосіб оплати?

In [33]:
df.groupby(by=['Gender', 'Payment'])['Invoice ID'].count().round(2).groupby(level='Gender', group_keys=False).apply(lambda x: x.sort_values(ascending=False))

Gender  Payment
Female  Cash           178
        Credit card    163
        Ewallet        160
Male    Ewallet        185
        Cash           166
        Credit card    148
Name: Invoice ID, dtype: int64

Висновок: спостерігаємо різну поведінку. Чоловіки найчастіше оплачують покупки через Е-волет, Жінки - готівкою. Але, жінки частіше (на 10%) користуються кредиткою ніж чоловіки.
Пропозиція: подумати над акціями для жінок аби підвищити оплати як готівкою так і кредикою. І також не забути про плюшки для чоловіків, які викорстовують Е-волет.

Гіпотеза 3: 
Чи жінки, які платять готівкою, роблять більші покупки, ніж жінки, які платять кредиткою?
Чи чоловіки, які плтять Е-волет, витрачають більше, ніж чоловіки, які платять готівкою?

In [48]:
piv_tab = pd.pivot_table(df, index='Gender', columns='Payment', values=['Total'], aggfunc="sum")
piv_tab.round(2)

            Total
Payment      Cash Credit card   Ewallet
Gender
Female   59514.21    53498.44  54870.27
Male     52692.36    47268.63  55122.84

In [47]:
piv_tab_mean = pd.pivot_table(df, index='Gender', columns='Payment', values=['Total'], aggfunc="mean")
piv_tab_mean.round(2)

          Total
Payment    Cash Credit card Ewallet
Gender
Female   334.35      328.21  342.94
Male     317.42      319.38  297.96

Який цікавий поворот)
Висновки:
Жінки: Найвищий середній чек при оплаті Е-волет, потім готівка і лише потім кредитка. 
Тобто, жінки, які платять готівкою, не роблять значно більших покупок, ніж ті, хто платить кредиткою, а насправді Е-волет дає найвищий середній чек для жінок.
Чоловіки: Найвищий середній чек при оплаті кредиткою, потім готівка, а Е-волет дає найнижчий середній чек. Тобто, чоловіки, які платять Е-волет, витрачають менше, ніж чоловіки, які платять готівкою.
ОТЖЕ: попередні пропозиції виявились не коректними в частині націлення на просування певного виду оплати, тому треба змінити напрям.
Пропозиція для жінок: Сфокусуватися на акціях для жінок, які використовують Е-волет, щоб стимулювати їх до ще більших покупок, оскільки саме цей метод дає найвищий середній чек для них.

Пропозиція для чоловіків: Так як чоловіки є лідерами за к-тю транзакцій через Е-волет (з попередньої гіпотези), але мають найнижчий середній чек при цьому, треба додатково проаналізувати, чому так відбувається. Можливо, Е-волет зручний для дрібних, швидких покупок. Можна спробувати акції, які заохочують чоловіків збільшувати суму чека при оплаті Е-волет.
+
треба проаналізувати товари які купуються при оплаті готівкою чи кредиткою бо у чоловіків середній чек вищий при оплаті саме готівкою або кредиткою.