# –î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è: ETL-–ø–∞–π–ø–ª–∞–π–Ω–∏ –¥–ª—è –∞–Ω–∞–ª—ñ—Ç–∏–∫—ñ–≤ –¥–∞–Ω–∏—Ö

–¶–µ –î–ó –ø–µ—Ä–µ–¥–±–∞—á–µ–Ω–µ –ø—ñ–¥ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è –Ω–∞ –ª–æ–∫–∞–ª—å–Ω—ñ–π –º–∞—à–∏–Ω—ñ. –í–∏–∫–æ–Ω–∞–Ω–Ω—è –∑ Google Colab –±—É–¥–µ —Å—É—Ç—Ç—î–≤–æ —É—Å–∫–ª–∞–¥–Ω–µ–Ω–µ.

## –ü—ñ–¥–≥–æ—Ç–æ–≤–∫–∞
1. –ü–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—å, —â–æ —É –≤–∞—Å –≤—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω—ã –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ –±—ñ–±–ª—ñ–æ—Ç–µ–∫–∏:
   ```bash
   pip install sqlalchemy pymysql pandas matplotlib seaborn python-dotenv
   ```

2. –°—Ç–≤–æ—Ä—ñ—Ç—å —Ñ–∞–π–ª `.env` –∑ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –±–∞–∑–∏ –¥–∞–Ω–∏—Ö classicmodels. –ë–∞–∑—É –¥–∞–Ω–∏—Ö –≤–∏ –º–æ–∂–µ—Ç–µ –æ—Ç—Ä–∏–º–∞—Ç–∏ —á–µ—Ä–µ–∑

  - docker-–∫–æ–Ω—Ç–µ–π–Ω–µ—Ä –∑–≥—ñ–¥–Ω–æ —ñ—Å–Ω—Ç—Ä—É–∫—Ü—ñ—ó –≤ [–¥–æ–∫—É–º–µ–Ω—Ç—ñ](https://www.notion.so/hannapylieva/Docker-1eb94835849480c9b2e7f5dc22ee4df9), —Ç–∞–∫–æ–∂ –≤—ñ–¥–µ–æ —ñ–Ω—Å—Ç—Ä—É–∫—Ü—ñ—ó –ø—Ä–∏—Å—É—Ç–Ω—ñ –Ω–∞ –ø–ª–∞—Ç—Ñ–æ—Ä–º—ñ - —É—Ä–æ–∫–∏ "MySQL –±–∞–∑–∏, –∫–ª—ñ—î–Ω—Ç –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –ë–î, Docker —ñ ChatGPT –¥–ª—è –∑–∞–ø–∏—Ç—ñ–≤" —Ç–∞ "–Ø–∫ –≤—Å—Ç–∞–Ω–æ–≤–∏—Ç–∏ Docker –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –±–∞–∑–∞–º–∏ –¥–∞–Ω–∏—Ö –±–µ–∑ —Ç–µ—Ä–º—ñ–Ω–∞–ª—É"
  - –∞–±–æ –≤—Å—Ç–∞–Ω–æ–≤–∏–≤—à–∏ –ª–æ–∫–∞–ª—å–Ω–æ —Ü—é –ë–î - –¥–ª—è —Ü—å–æ–≥–æ –ø–µ—Ä–µ–≥–ª—è–Ω—å—Ç–µ —É—Ä–æ–∫ "–û–ø—Ü—ñ–æ–Ω–∞–ª—å–Ω–æ. –í—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–Ω—è MySQL —Ç–∞  –ë–î –°lassicmodels –ª–æ–∫–∞–ª—å–Ω–æ".
  
  –ü—Ä–∏–∫–ª–∞–¥ `.env` —Ñ–∞–π–ª—É –º–∏ —Å—Ç–≤–æ—Ä—é–≤–∞–ª–∏ –≤ –ª–µ–∫—Ü—ñ—ó. –û—Å—å –π–æ–≥–æ –æ–±–æ–≤ º—è–∑–∫–æ–≤–µ –Ω–∞–ø–æ–≤–Ω–µ–Ω–Ω—è:
    ```
    DB_HOST=your_host
    DB_PORT=3306 –∞–±–æ 3307 - —Ç–æ–π, —è–∫–∏–π –í–∏ –Ω–∞–ª–∞—à—Ç—É–≤–∞–ª–∏
    DB_USER=your_username
    DB_PASSWORD=your_password
    DB_NAME=classicmodels
    ```
  –Ø–∫—â–æ –≤–∏ —Å—Ç–≤–æ—Ä–∏–ª–∏ —Ü–µ–π —Ñ–∞–π–ª –ø—ñ–¥ —á–∞—Å –ø–µ—Ä–µ–≥–ª—è–¥—É –ª–µ–∫—Ü—ñ—ó - **–Ω–æ–≤–∏–π —Å—Ç–≤–æ—Ä—é–≤–∞—Ç–∏ –Ω–µ —Ç—Ä–µ–±–∞**. –ó–∞–º—ñ–Ω—ñ—Ç—å –ª–∏—à–µ –Ω–∞–∑–≤—É –ë–î, –∞–±–æ –ø—Ä–æ–ø–∏—à—ñ—Ç—å –Ω–∞–∑–≤—É –≤ –∫–æ–¥—ñ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è (–∑–∞–º—ñ—Å—Ç—å –æ—Ç—Ä–∏–º–∞–Ω–Ω—è –Ω–∞–∑–≤–∏ —Ü—ñ–ª—å–æ–≤–æ—ó –ë–î –∑—ñ –∑–º—ñ–Ω–Ω–∏—Ö –æ—Ç–æ—á–µ–Ω–Ω—è). –ê–ª–µ –ø–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—å, —â–æ –¥–æ `.env` —Ñ–∞–π–ª –ª–µ–∂–∏—Ç—å –≤ —Ç—ñ–π —Å–∞–º—ñ–π –ø–∞–ø—Ü—ñ, —â–æ —ñ —Ü–µ–π –Ω–æ—É—Ç–±—É–∫.

  **–£–í–ê–ì–ê!** –ù–ï –∫–æ–ø—ñ—é–π—Ç–µ —Å–∫—Ä–∏—Ç –¥–ª—è **—Å—Ç–≤–æ—Ä–µ–Ω–Ω—è** `.env` —Ñ–∞–π–ª—É. –í –ª–µ–∫—Ü—ñ—ó –≤—ñ–Ω –Ω–∞–≤–æ–¥–∏—Ç—å—Å—è –¥–ª—è –ø—Ä–∏–∫–ª–∞–¥—É. –Ü –¥–∞–≤–∞–ª–æ—Å—å –ø–æ—è—Å–Ω–µ–Ω–Ω—è, —â–æ –≤ —Ä–µ–∞–ª—å–Ω–∏—Ö –ø—Ä–æ—î–∫—Ç–∞—Ö –º–∏ –ù–Ü–ö–û–õ–ò –Ω–µ –ø–∏—à–µ–º–æ –¥–æ—Å—Ç—É–ø–∏ –¥–æ –±–∞–∑–∏ –≤ –∫–æ–¥—ñ. –ö–æ–ø—ñ—é–≤–∞–Ω–Ω—è —Å–∫—Ä–∏–ø—Ç–∞ –¥–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è `.env` —Ñ–∞–π–ª—É —Å—é–¥–∏ –≤ –î–ó –±—É–¥–µ –≤–≤–∞–∂–∞—Ç–∏—Å—å –≥—Ä—É–±–æ—é –ø–æ–º–∏–ª–∫–æ—é —ñ –º–∏ –∑–Ω—ñ–º–∞—Ç–∏–º–µ–º–æ –±–∞–ª–∏.

3. –ù–∞–ª–∞—à—Ç—É–π—Ç–µ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è —á–µ—Ä–µ–∑ SQLAlchemy –¥–æ –ë–î –∑–∞ –ø—Ä–∏–∫–ª–∞–¥–æ–º –≤ –ª–µ–∫—Ü—ñ—ó.

–†–µ–∫–æ–º–µ–Ω–¥—É—é –≤–∏–≤–µ—Å—Ç–∏ (–≤—ñ–¥–æ–±—Ä–∞–∑–∏—Ç–∏) –∑–º—ñ–Ω–Ω—É engine –ø—ñ—Å–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è. –í–æ–Ω–∞ –º–∞—î –±—É—Ç–∏ –Ω–µ None! –Ø–∫—â–æ None - –∑–Ω–∞—á–∏—Ç—å —É –í–∞—Å –Ω–µ –ø—ñ–¥—Ç—è–≥–Ω—É–ª–∏—Å—å –Ω–∞–ª–∞—à—Ç—É–≤–∞–Ω–Ω—è –∑ .env —Ñ–∞–π–ª–∞.

–í–∏ —Ç–∞–∫–æ–∂ –º–æ–∂–µ—Ç–µ –Ω–∞–ª–∞—à—Ç—É–≤–∞—Ç–∏ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î –±–µ–∑ .env —Ñ–∞–π–ª–∞, –ø—Ä–æ—Å—Ç–æ –ø—Ä–æ–ø–∏—Å–∞–≤—à–∏ —Ç–µ–∫—Å—Ç–æ–º –≤ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–∏—Ö –º—ñ—Å—Ü—è—Ö. –¶–µ - –Ω–µ —Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞–Ω–∏–π –ø—ñ–¥—Ö—ñ–¥.

In [1]:
# –í—Å—Ç–∞–Ω–æ–≤–ª—é—î–º–æ —Å—É—á–∞—Å–Ω–∏–π —Å—Ç–µ–∫ –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –ë–î
!pip install sqlalchemy pymysql openpyxl requests python-dotenv

Requirement already satisfied: sqlalchemy in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (2.0.43)
Requirement already satisfied: pymysql in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (1.1.2)
Requirement already satisfied: openpyxl in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: requests in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (2.32.3)
Requirement already satisfied: python-dotenv in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (1.1.1)
Requirement already satisfied: greenlet>=1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.14.0)
Requirement already satisfied: et-xmlfile in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from requests) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from requests) (2025.4.26)

In [2]:
import datetime
import requests
import json
import os

from dotenv import load_dotenv
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine, text, MetaData, Table
from sqlalchemy.orm import sessionmaker

In [4]:
def create_connection():
    """
    –°—Ç–≤–æ—Ä—é—î –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è —á–µ—Ä–µ–∑ SQLAlchemy
    """
    # –ó–∞–≤–∞–Ω—Ç–∞–∂—É—î–º–æ –∑–º—ñ–Ω–Ω—ñ —Å–µ—Ä–µ–¥–æ–≤–∏—â–∞
    load_dotenv()

    # –û—Ç—Ä–∏–º—É—î–º–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –∑ environment variables
    host = os.getenv('DB_HOST', 'localhost')
    port = os.getenv('DB_PORT', '3306')
    user = os.getenv('DB_USER')
    password = os.getenv('DB_PASSWORD')
    database = os.getenv('DB_NAME')

    if not all([user, password, database]):
        raise ValueError("–ù–µ –≤—Å—ñ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ë–î –∑–∞–¥–∞–Ω—ñ –≤ .env —Ñ–∞–π–ª—ñ!")

    # –°—Ç–≤–æ—Ä—é—î–º–æ connection string
    connection_string = f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"

    # –°—Ç–≤–æ—Ä—é—î–º–æ engine –∑ connection pooling
    engine = create_engine(
        connection_string,
        pool_size=2,           # –†–æ–∑–º—ñ—Ä –ø—É–ª—É –ø—ñ–¥–∫–ª—é—á–µ–Ω—å
        max_overflow=20,        # –ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –¥–æ–¥–∞—Ç–∫–æ–≤–∏—Ö –ø—ñ–¥–∫–ª—é—á–µ–Ω—å
        pool_pre_ping=True,     # –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –ø–µ—Ä–µ–¥ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è–º
        echo=False              # –õ–æ–≥—É–≤–∞–Ω–Ω—è SQL –∑–∞–ø–∏—Ç—ñ–≤ (True –¥–ª—è debug)
    )

    # –¢–µ—Å—Ç—É—î–º–æ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è
    try:
        with engine.connect() as conn:
            result = conn.execute(text("SELECT 1"))
            result.fetchone()

        print("‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!")
        print(f"üîó {user}@{host}:{port}/{database}")
        print(f"‚ö° Engine: {engine}")

        return engine

    except Exception as e:
        print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è: {e}")
        return None

# –°—Ç–≤–æ—Ä—é—î–º–æ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è
engine = create_connection()

‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!
üîó root@127.0.0.1:3306/classicmodels
‚ö° Engine: Engine(mysql+pymysql://root:***@127.0.0.1:3306/classicmodels)

### –ó–∞–≤–¥–∞–Ω–Ω—è 1: –°—Ç–≤–æ—Ä–µ–Ω–Ω—è —Ç–∞–±–ª–∏—Ü—ñ –∫—É—Ä—Å—ñ–≤ –≤–∞–ª—é—Ç —Ç–∞ API —ñ–Ω—Ç–µ–≥—Ä–∞—Ü—ñ—è (2 –±–∞–ª–∏)

**–ü–æ–≤—Ç–æ—Ä—ñ—Ç—å –ø—Ä–æ—Ü–µ–¥—É—Ä—É –∑ –ª–µ–∫—Ü—ñ—ó:** —Å—Ç–≤–æ—Ä—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –¥–ª—è –∫—É—Ä—Å—ñ–≤ –≤–∞–ª—é—Ç, –∞–ª–µ –≤–∂–µ –≤ —Ü—ñ–π –±–∞–∑—ñ –¥–∞–Ω–∏—Ö. –†–µ–∑—É–ª—å—Ç–∞—Ç–æ–º –º–∞—î –±—É—Ç–∏ –Ω–æ–≤–∞ —Ç–∞–±–ª–∏—Ü—è –∑ –∫—É—Ä—Å–∞–º–∏ –≤–∞–ª—é—Ç USD, EUR, UAH –≤ –ë–î (–º–æ–∂–Ω–∞ –∑–∞–≤–∞–Ω—Ç–∞–∂–∏—Ç–∏ –±—ñ–ª—å—à–µ –≤–∞–ª—é—Ç). –ü—Ä–æ–¥–µ–º–æ–Ω—Å—Ç—Ä—É–π—Ç–µ, —â–æ —Ç–∞–±–ª–∏—Ü—è –±—É–ª–∞ –¥–æ–¥–∞–Ω–∞, –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ SELECT.

–¢–æ–±—Ç–æ —Ç—É—Ç –≤–∏ –º–æ–∂–µ—Ç–µ –ø—Ä—è–º–æ —Å–∫–æ–ø—ñ—é–≤–∞—Ç–∏ –∫–æ–¥ –∑ –ª–µ–∫—Ü—ñ—ó, –≤–Ω–µ—Å—Ç–∏ –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ –∑–º—ñ–Ω–∏ —ñ –∑–∞–ø—É—Å—Ç–∏—Ç–∏. –ì–æ–ª–æ–≤–Ω–µ - –æ—Ç—Ä–∏–º–∞—Ç–∏ —Ç–∞–±–ª–∏—Ü—é –≤ –ë–î classicmodels.

In [7]:
# –°—Ç–≤–æ—Ä—é—î–º–æ —Ç–∞–±–ª–∏—Ü—é –¥–ª—è –∫—É—Ä—Å—ñ–≤ –≤–∞–ª—é—Ç (—Å—É—á–∞—Å–Ω–∏–π —Å–ø–æ—Å—ñ–±)
def create_currency_table(engine):
    """–°—Ç–≤–æ—Ä—é—î —Ç–∞–±–ª–∏—Ü—é —á–µ—Ä–µ–∑ SQLAlchemy"""

    create_table_sql = text("""
    CREATE TABLE IF NOT EXISTS curr_rates (
        id INT AUTO_INCREMENT PRIMARY KEY,
        currency_code VARCHAR(3) NOT NULL,
        rate_to_usd DECIMAL(10, 6) NOT NULL,
        rate_date DATE NOT NULL,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
        INDEX idx_currency_date (currency_code, rate_date),
        UNIQUE KEY unique_currency_date (currency_code, rate_date)
    )
    """)

    with engine.connect() as conn:
        # —Ç—É—Ç –ª–∏—à–µ –æ–¥–Ω–∞ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è - conn.begin() –Ω–µ —Ç—Ä–µ–±–∞
        conn.execute(create_table_sql)

    print("‚úÖ –¢–∞–±–ª–∏—Ü—è curr_rates —Å—Ç–≤–æ—Ä–µ–Ω–∞")

def fetch_exchange_rates():
    """–û—Ç—Ä–∏–º—É—î –∫—É—Ä—Å–∏ –≤–∞–ª—é—Ç –∑ API"""
    try:
        # –ë–µ–∑–∫–æ—à—Ç–æ–≤–Ω–∏–π API –∫—É—Ä—Å—ñ–≤ –≤–∞–ª—é—Ç
        url = "https://api.exchangerate-api.com/v4/latest/USD"
        response = requests.get(url, timeout=10)
        response.raise_for_status()

        data = response.json()

        # –í–∞–ª—é—Ç–∏ —â–æ –Ω–∞—Å —Ü—ñ–∫–∞–≤–ª—è—Ç—å
        currencies = ['EUR', 'GBP', 'UAH', 'PLN', 'JPY']
        rates = {}

        for currency in currencies:
            if currency in data['rates']:
                # –ó–±–µ—Ä—ñ–≥–∞—î–º–æ –∫—É—Ä—Å –¥–æ USD (—Å–∫—ñ–ª—å–∫–∏ –æ–¥–∏–Ω–∏—Ü—å –≤–∞–ª—é—Ç–∏ –∑–∞ 1 USD)
                rates[currency] = data['rates'][currency]

        return rates, datetime.date.today()

    except Exception as e:
        print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ API: {e}")
        return None, None

def save_exchange_rates(engine, rates_dict, rate_date):
    """–ó–±–µ—Ä—ñ–≥–∞—î –∫—É—Ä—Å–∏ –≤ –ë–î –∑ –æ–±—Ä–æ–±–∫–æ—é –∫–æ–Ω—Ñ–ª—ñ–∫—Ç—ñ–≤"""

    if not rates_dict:
        print("‚ùå –ù–µ–º–∞—î –¥–∞–Ω–∏—Ö –¥–ª—è –∑–±–µ—Ä–µ–∂–µ–Ω–Ω—è")
        return False

    # SQL –∑ ON DUPLICATE KEY UPDATE –¥–ª—è MySQL
    insert_sql = text("""
    INSERT INTO curr_rates (currency_code, rate_to_usd, rate_date)
    VALUES (:currency, :rate, :date)
    ON DUPLICATE KEY UPDATE
        rate_to_usd = VALUES(rate_to_usd),
        updated_at = CURRENT_TIMESTAMP
    """)

    try:
        with engine.connect() as conn:
            with conn.begin():  # –¢—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è –¥–ª—è –≤—Å—ñ—Ö –≤—Å—Ç–∞–≤–æ–∫
                for currency, rate in rates_dict.items():
                    conn.execute(insert_sql, {
                        'currency': currency,
                        'rate': rate,
                        'date': rate_date
                    })

        print(f"‚úÖ –ó–±–µ—Ä–µ–∂–µ–Ω–æ {len(rates_dict)} –∫—É—Ä—Å—ñ–≤ –≤–∞–ª—é—Ç –Ω–∞ {rate_date}")
        return True

    except Exception as e:
        print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –∑–±–µ—Ä–µ–∂–µ–Ω–Ω—è: {e}")
        return False

In [8]:
# –í–∏–∫–æ–Ω—É—î–º–æ –ø–æ–≤–Ω–∏–π —Ü–∏–∫–ª API ‚Üí –ë–î
create_currency_table(engine)

print("üì° –û—Ç—Ä–∏–º—É—î–º–æ –∫—É—Ä—Å–∏ –≤–∞–ª—é—Ç...")
rates, date = fetch_exchange_rates()

if rates:
    print(f"–û—Ç—Ä–∏–º–∞–Ω—ñ –∫—É—Ä—Å–∏ –Ω–∞ {date}:")
    for currency, rate in rates.items():
        print(f"  1 USD = {rate:.4f} {currency}")

    # –ó–±–µ—Ä—ñ–≥–∞—î–º–æ –≤ –ë–î
    if save_exchange_rates(engine, rates, date):
        # –ü–µ—Ä–µ–≤—ñ—Ä—è—î–º–æ –∑–±–µ—Ä–µ–∂–µ–Ω—ñ –¥–∞–Ω—ñ
        verification_df = pd.read_sql(
            "SELECT * FROM currency_rates ORDER BY created_at DESC LIMIT 10",
            engine
        )
        print("\n–ó–±–µ—Ä–µ–∂–µ–Ω—ñ –¥–∞–Ω—ñ:")
        display(verification_df)

‚úÖ –¢–∞–±–ª–∏—Ü—è curr_rates —Å—Ç–≤–æ—Ä–µ–Ω–∞
üì° –û—Ç—Ä–∏–º—É—î–º–æ –∫—É—Ä—Å–∏ –≤–∞–ª—é—Ç...
–û—Ç—Ä–∏–º–∞–Ω—ñ –∫—É—Ä—Å–∏ –Ω–∞ 2025-09-08:
  1 USD = 0.8540 EUR
  1 USD = 0.7410 GBP
  1 USD = 41.2100 UAH
  1 USD = 3.6300 PLN
  1 USD = 148.2100 JPY
‚úÖ –ó–±–µ—Ä–µ–∂–µ–Ω–æ 5 –∫—É—Ä—Å—ñ–≤ –≤–∞–ª—é—Ç –Ω–∞ 2025-09-08

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'classicmodels.currency_rates' doesn't exist")
[SQL: SELECT * FROM currency_rates ORDER BY created_at DESC LIMIT 10]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [9]:
safe_query = text("""
    SELECT * FROM classicmodels.curr_rates;
""")

df_curr = pd.read_sql(
    safe_query,
    engine)
display(df_curr)

,id,currency_code,rate_to_usd,rate_date,created_at,updated_at
0,1,EUR,0.854,2025-09-08,2025-09-08 18:54:38,2025-09-08 18:56:23
1,2,GBP,0.741,2025-09-08,2025-09-08 18:54:38,2025-09-08 18:56:24
2,3,UAH,41.210,2025-09-08,2025-09-08 18:54:38,2025-09-08 18:56:24
3,4,PLN,3.630,2025-09-08,2025-09-08 18:54:38,2025-09-08 18:56:24
4,5,JPY,148.210,2025-09-08,2025-09-08 18:54:38,2025-09-08 18:56:24

# –ó–∞–≤–¥–∞–Ω–Ω—è 2: –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –ø—Ä–æ—Å—Ç–æ–≥–æ ETL –ø–∞–π–ø–ª–∞–π–Ω—É (7 –±–∞–ª—ñ–≤)

–í —Ü—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –º–∏ —Å—Ç–≤–æ—Ä–∏–º–æ –ø–æ–≤–Ω–æ—Ü—ñ–Ω–Ω–∏–π ETL –ø—Ä–æ—Ü–µ—Å –¥–ª—è –∞–Ω–∞–ª—ñ–∑—É –ø—Ä–æ–¥–∞–∂—ñ–≤ ClassicModels.

–ó–∞–≤–¥–∞–Ω–Ω—è –æ–± º—î–º–Ω–µ —ñ –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ. –í–∏ –º–æ–∂–µ—Ç–µ –ø—Ä–æ–ø—É—Å—Ç–∏—Ç–∏ –æ–±—á–∏—Å–ª–µ–Ω–Ω—è —è–∫–∏—Ö–æ—Å—å –∑ –º–µ—Ç—Ä–∏–∫, —è–∫—â–æ –≤—ñ–¥—á—É—î—Ç–µ, —â–æ –≤–∂–µ –Ω–µ–º–∞—î —Å–∏–ª —Ä–æ–±–∏—Ç–∏ —Ü–µ –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–∞–ª –±—É–¥–µ –≤–∏—Å—Ç–∞–≤–ª–µ–Ω–æ –≤–∏—Ö–æ–¥—è—á–∏ –∑ –≤–∏–∫–æ–Ω–∞–Ω–æ–≥–æ –æ–± º—î–º—É —Ç–∞ –π–æ–≥–æ –ø—Ä–∞–≤–∏–ª—å–Ω–æ—Å—Ç—ñ.

## –©–æ —Å–∞–º–µ —Ç—Ä–µ–±–∞ –∑—Ä–æ–±–∏—Ç–∏:

### Extract (–í–∏—Ç—è–≥—É–≤–∞–Ω–Ω—è –¥–∞–Ω–∏—Ö):
–ù–∞ —Ü—å–æ–º—É –µ—Ç–∞–ø—ñ —Ç—Ä–µ–±–∞ –≤–∏—Ç—è–≥–Ω—É—Ç–∏ –¥–∞–Ω—ñ –∑ –ë–î –≤ pandas.DataFrame –¥–ª—è –ø–æ–¥–∞–ª—å—à–æ—ó –æ–±—Ä–æ–±–∫–∏.
–Ø–∫—ñ –¥–∞–Ω—ñ –Ω–∞–º –ø–æ—Ç—Ä—ñ–±–Ω—ñ (–∫–æ–∂–µ–Ω –ø—É–Ω–∫—Ç - –≤ –æ–∫—Ä–µ–º–∏–π —Ñ—Ä–µ–π–º –¥–∞–Ω–∏—Ö):
1. **–¥–∞–Ω—ñ –ø—Ä–æ –≤–∏–∫–æ–Ω–∞–Ω—ñ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –∑–∞ 2004 —Ä—ñ–∫** - –∑'—î–¥–Ω–∞—Ç–∏ —Ç–∞–±–ª–∏—Ü—ñ orders, orderdetails, products, customers
2. **–¥–∞–Ω—ñ –ø—Ä–æ –ø—Ä–æ–¥—É–∫—Ç–∏** - –Ω–∞–∑–≤–∏, –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó, —Ü—ñ–Ω–∏
3. **–¥–∞–Ω—ñ –ø—Ä–æ –∫—É—Ä—Å–∏ –≤–∞–ª—é—Ç** - –≤–∏–∫–æ—Ä–∏—Å—Ç–∞—Ç–∏ –¥–∞–Ω—ñ –∑ –ø–æ–ø–µ—Ä–µ–¥–Ω—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è

### Transform (–û–±—Ä–æ–±–∫–∞ –¥–∞–Ω–∏—Ö):

#### 2.1 –î–æ–¥–∞—Ç–∏ —Ä–æ–∑—Ä–∞—Ö—É–Ω–∫–æ–≤—ñ –∫–æ–ª–æ–Ω–∫–∏ –¥–æ –æ—Å–Ω–æ–≤–Ω–æ—ó —Ç–∞–±–ª–∏—Ü—ñ:
–î–æ–¥–∞–π—Ç–µ –¥–æ DataFrame –∑ –ø—Ä–æ–¥–∞–∂–∞–º–∏ —Ç–∞–∫—ñ –Ω–æ–≤—ñ –∫–æ–ª–æ–Ω–∫–∏:

- **`profit_per_item`** - –ø—Ä–∏–±—É—Ç–æ–∫ –∑ –æ–¥–Ω–æ–≥–æ —Ç–æ–≤–∞—Ä—É (–≤–∏–∫–æ—Ä–∏—Å—Ç–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫–∏: `priceEach` - `buyPrice`)
- **`total_profit`** - –∑–∞–≥–∞–ª—å–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑ —Ç–æ–≤–∞—Ä–Ω–æ—ó –ø–æ–∑–∏—Ü—ñ—ó (–≤–∏–∫–æ—Ä–∏—Å—Ç–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫–∏: `profit_per_item` √ó `quantityOrdered`)
- **`total_amount_eur`** - —Å—É–º–∞ –≤ —î–≤—Ä–æ (–≤–∏–∫–æ—Ä–∏—Å—Ç–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫–∏: `total_amount` / `eur_rate`)

#### 2.2 –°—Ç–≤–æ—Ä–∏—Ç–∏ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω—É —Ç–∞–±–ª–∏—Ü—é –ø–æ –∫—Ä–∞—ó–Ω–∞—Ö (–¢–û–ü-5):
–ó–≥—Ä—É–ø—É–π—Ç–µ –¥–∞–Ω—ñ –ø–æ –∫–æ–ª–æ–Ω—Ü—ñ **`country`** —Ç–∞ –æ–±—á–∏—Å–ª—ñ—Ç—å –¥–ª—è –∫–æ–∂–Ω–æ—ó –∫—Ä–∞—ó–Ω–∏:

**–ú–µ—Ç—Ä–∏–∫–∏ –¥–ª—è —Ä–æ–∑—Ä–∞—Ö—É–Ω–∫—É:**
- **–ö—ñ–ª—å–∫—ñ—Å—Ç—å —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–∞–º–æ–≤–ª–µ–Ω—å** - —É–Ω—ñ–∫–∞–ª—å–Ω—ñ –∑–Ω–∞—á–µ–Ω–Ω—è –∫–æ–ª–æ–Ω–∫–∏ `orderNumber`
- **–ó–∞–≥–∞–ª—å–Ω–∏–π –¥–æ—Ö—ñ–¥** - —Å—É–º–∞ –∫–æ–ª–æ–Ω–∫–∏ `total_amount`
- **–ó–∞–≥–∞–ª—å–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫** - —Å—É–º–∞ –∫–æ–ª–æ–Ω–∫–∏ `total_profit`
- **–ö—ñ–ª—å–∫—ñ—Å—Ç—å –ø—Ä–æ–¥–∞–Ω–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤** - —Å—É–º–∞ –∫–æ–ª–æ–Ω–∫–∏ `quantityOrdered`
- **–ú–∞—Ä–∂–∞ –ø—Ä–∏–±—É—Ç–∫—É (%)** - (`–∑–∞–≥–∞–ª—å–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫` / `–∑–∞–≥–∞–ª—å–Ω–∏–π –¥–æ—Ö—ñ–¥`) √ó 100

**–†–µ–∑—É–ª—å—Ç–∞—Ç:** –¢–∞–±–ª–∏—Ü—è –∑ 5 –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏—Ö –∫—Ä–∞—ó–Ω, –≤—ñ–¥—Å–æ—Ä—Ç–æ–≤–∞–Ω–∞ –∑–∞ –∑–∞–≥–∞–ª—å–Ω–∏–º –¥–æ—Ö–æ–¥–æ–º (–≤—ñ–¥ –±—ñ–ª—å—à–æ–≥–æ –¥–æ –º–µ–Ω—à–æ–≥–æ).

#### 2.3 –°—Ç–≤–æ—Ä–∏—Ç–∏ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω—É —Ç–∞–±–ª–∏—Ü—é –ø–æ –ø—Ä–æ–¥—É–∫—Ç–æ–≤–∏—Ö –ª—ñ–Ω—ñ—è—Ö:
–ó–≥—Ä—É–ø—É–π—Ç–µ –¥–∞–Ω—ñ –ø–æ –∫–æ–ª–æ–Ω—Ü—ñ **`productLine`** —Ç–∞ –æ–±—á–∏—Å–ª—ñ—Ç—å —Ç—ñ –∂ –º–µ—Ç—Ä–∏–∫–∏:

**–ú–µ—Ç—Ä–∏–∫–∏ –¥–ª—è —Ä–æ–∑—Ä–∞—Ö—É–Ω–∫—É:**
- **–ö—ñ–ª—å–∫—ñ—Å—Ç—å —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–∞–º–æ–≤–ª–µ–Ω—å** - —É–Ω—ñ–∫–∞–ª—å–Ω—ñ –∑–Ω–∞—á–µ–Ω–Ω—è –∫–æ–ª–æ–Ω–∫–∏ `orderNumber`
- **–ó–∞–≥–∞–ª—å–Ω–∏–π –¥–æ—Ö—ñ–¥** - —Å—É–º–∞ –∫–æ–ª–æ–Ω–∫–∏ `total_amount`
- **–ó–∞–≥–∞–ª—å–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫** - —Å—É–º–∞ –∫–æ–ª–æ–Ω–∫–∏ `total_profit`
- **–ö—ñ–ª—å–∫—ñ—Å—Ç—å –ø—Ä–æ–¥–∞–Ω–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤** - —Å—É–º–∞ –∫–æ–ª–æ–Ω–∫–∏ `quantityOrdered`
- **–ú–∞—Ä–∂–∞ –ø—Ä–∏–±—É—Ç–∫—É (%)** - (`–∑–∞–≥–∞–ª—å–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫` / `–∑–∞–≥–∞–ª—å–Ω–∏–π –¥–æ—Ö—ñ–¥`) √ó 100

**–†–µ–∑—É–ª—å—Ç–∞—Ç:** –¢–∞–±–ª–∏—Ü—è –∑ —É—Å—ñ–º–∞ –ø—Ä–æ–¥—É–∫—Ç–æ–≤–∏–º–∏ –ª—ñ–Ω—ñ—è–º–∏, –≤—ñ–¥—Å–æ—Ä—Ç–æ–≤–∞–Ω–∞ –∑–∞ –∑–∞–≥–∞–ª—å–Ω–∏–º –¥–æ—Ö–æ–¥–æ–º.

#### 2.4 –°—Ç–≤–æ—Ä–∏—Ç–∏ –ø—ñ–¥—Å—É–º–∫–æ–≤—É —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—é (Executive Summary):
–†–æ–∑—Ä–∞—Ö—É–π—Ç–µ –∑–∞–≥–∞–ª—å–Ω—ñ –ø–æ–∫–∞–∑–Ω–∏–∫–∏ –±—ñ–∑–Ω–µ—Å—É –∑–∞ 2004 —Ä—ñ–∫:

**–§—ñ–Ω–∞–Ω—Å–æ–≤—ñ –ø–æ–∫–∞–∑–Ω–∏–∫–∏:**
- **–ó–∞–≥–∞–ª—å–Ω–∏–π –¥–æ—Ö—ñ–¥ –≤ –¥–æ–ª–∞—Ä–∞—Ö** - —Å—É–º–∞ –≤—Å—ñ—î—ó –∫–æ–ª–æ–Ω–∫–∏ `total_amount`
- **–ó–∞–≥–∞–ª—å–Ω–∏–π –¥–æ—Ö—ñ–¥ –≤ —î–≤—Ä–æ** - —Å—É–º–∞ –≤—Å—ñ—î—ó –∫–æ–ª–æ–Ω–∫–∏ `total_amount_eur`
- **–ó–∞–≥–∞–ª—å–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –≤ –¥–æ–ª–∞—Ä–∞—Ö** - —Å—É–º–∞ –≤—Å—ñ—î—ó –∫–æ–ª–æ–Ω–∫–∏ `total_profit`
- **–ó–∞–≥–∞–ª—å–Ω–∞ –º–∞—Ä–∂–∞ –ø—Ä–∏–±—É—Ç–∫—É (%)** - (`–∑–∞–≥–∞–ª—å–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫` / `–∑–∞–≥–∞–ª—å–Ω–∏–π –¥–æ—Ö—ñ–¥`) √ó 100
- **–°–µ—Ä–µ–¥–Ω—ñ–π —Ä–æ–∑–º—ñ—Ä –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è** - —Å–µ—Ä–µ–¥–Ω—î –∑–Ω–∞—á–µ–Ω–Ω—è –∫–æ–ª–æ–Ω–∫–∏ `total_amount`

**–û–ø–µ—Ä–∞—Ü—ñ–π–Ω—ñ –ø–æ–∫–∞–∑–Ω–∏–∫–∏:**
- **–ö—ñ–ª—å–∫—ñ—Å—Ç—å —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–∞–º–æ–≤–ª–µ–Ω—å** - —É–Ω—ñ–∫–∞–ª—å–Ω—ñ –∑–Ω–∞—á–µ–Ω–Ω—è –∫–æ–ª–æ–Ω–∫–∏ `orderNumber`
- **–ö—ñ–ª—å–∫—ñ—Å—Ç—å —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤** - —É–Ω—ñ–∫–∞–ª—å–Ω—ñ –∑–Ω–∞—á–µ–Ω–Ω—è –∫–æ–ª–æ–Ω–∫–∏ `customerName`
- **–ü–µ—Ä—ñ–æ–¥ –¥–∞–Ω–∏—Ö** - –º—ñ–Ω—ñ–º–∞–ª—å–Ω–∞ —Ç–∞ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞ –¥–∞—Ç–∞ –∑ –∫–æ–ª–æ–Ω–∫–∏ `orderDate`

**–¢–æ–ø –ø–æ–∫–∞–∑–Ω–∏–∫–∏:**
- **–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∞ –∫—Ä–∞—ó–Ω–∞** - –ø–µ—Ä—à–∏–π —Ä—è–¥–æ–∫ –∑ —Ç–∞–±–ª–∏—Ü—ñ –∫—Ä–∞—ó–Ω (–∫–æ–ª–æ–Ω–∫–∞ `country`)
- **–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∞ –ø—Ä–æ–¥—É–∫—Ç–æ–≤–∞ –ª—ñ–Ω—ñ—è** - –ø–µ—Ä—à–∏–π —Ä—è–¥–æ–∫ –∑ —Ç–∞–±–ª–∏—Ü—ñ –ø—Ä–æ–¥—É–∫—Ç—ñ–≤ (–∫–æ–ª–æ–Ω–∫–∞ `productLine`)

### Load (–ó–±–µ—Ä–µ–∂–µ–Ω–Ω—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ñ–≤):
–í —Ü—ñ–π —á–∞—Å—Ç–∏–Ω—ñ –º–∏ –∑–±–µ—Ä—ñ–≥–∞—î–º–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∏ –Ω–∞—à–∏—Ö –æ–±—á–∏—Å–ª–µ–Ω—å.
–í–∏–∫–æ—Ä–∏—Å—Ç–∞–π—Ç–µ –ø—Ä–∏–∫–ª–∞–¥–∏ –∫–æ–¥—É –∑ –ª–µ–∫—Ü—ñ–π —Ç–∞ –∞–¥–∞–ø—Ç—É–π—Ç–µ –π–æ–≥–æ –ø—ñ–¥ —Ü–µ–π ETL –ø—Ä–æ—Ü–µ—Å.
–©–æ –í–∞–º –ø–æ—Ç—Ä—ñ–±–Ω–æ —Å—Ç–≤–æ—Ä–∏—Ç–∏:

#### 3.1 Excel —Ñ–∞–π–ª –∑ —Ç—Ä—å–æ–º–∞ –≤–∫–ª–∞–¥–∫–∞–º–∏:
- **"Summary"** - –ø—ñ–¥—Å—É–º–∫–æ–≤–∞ —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—è —É –≤–∏–≥–ª—è–¥—ñ —Ç–∞–±–ª–∏—Ü—ñ "–ü–æ–∫–∞–∑–Ω–∏–∫ - –ó–Ω–∞—á–µ–Ω–Ω—è"
- **"Top_Countries"** - –∞–Ω–∞–ª—ñ—Ç–∏–∫–∞ –ø–æ —Ç–æ–ø-5 –∫—Ä–∞—ó–Ω–∞—Ö
- **"Product_Lines"** - –∞–Ω–∞–ª—ñ—Ç–∏–∫–∞ –ø–æ –≤—Å—ñ—Ö –ø—Ä–æ–¥—É–∫—Ç–æ–≤–∏—Ö –ª—ñ–Ω—ñ—è—Ö

#### 3.2 –í—ñ–∑—É–∞–ª—ñ–∑–∞—Ü—ñ—è:
- –°—Ç–≤–æ—Ä—ñ—Ç—å —Å—Ç–æ–≤–ø—á–∏–∫–æ–≤—É –¥—ñ–∞–≥—Ä–∞–º—É —Ç–æ–ø-5 –∫—Ä–∞—ó–Ω –∑–∞ –¥–æ—Ö–æ–¥–æ–º.
- –°—Ç–≤–æ—Ä—ñ—Ç—å pie chart –∑ –≤—ñ–¥—Å–æ—Ç–∫–æ–≤–∏–º —Ä–æ–∑–ø–æ–¥—ñ–ª–æ–º –¥–æ—Ö–æ–¥—É –≤ USD –ø–æ –ø—Ä–æ–¥—É–∫—Ç–æ–≤–∏—Ö –ª—ñ–Ω—ñ–π–∫–∞—Ö.

## –†–ï–ö–û–ú–ï–ù–î–ê–¶–Ü–á –î–û –í–ò–ö–û–ù–ê–ù–ù–Ø:

### –ü–æ–∫—Ä–æ–∫–æ–≤–∞ —Å—Ç—Ä–∞—Ç–µ–≥—ñ—è –≤–∏–∫–æ–Ω–∞–Ω–Ω—è:
1. –°–ø–æ—á–∞—Ç–∫—É –ø—Ä–æ—Ç–µ—Å—Ç—É–π—Ç–µ Extract –ø—Ä–æ—Å—Ç–æ –≤ Jupyter notebook (–±–µ–∑ —Ñ—É–∫–Ω—Ü—ñ—ó) - –ø–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—è —â–æ SQL –∑–∞–ø–∏—Ç –ø—Ä–∞—Ü—é—î —ñ –ø–æ–≤–µ—Ä—Ç–∞—î –¥–∞–Ω—ñ –∑–∞ 2004 —Ä—ñ–∫
2. –ü–æ—Ç—ñ–º –ø—Ä–æ—Ç–µ—Å—Ç—É–π—Ç–µ –∫–æ–∂–µ–Ω Transform –æ–∫—Ä–µ–º–æ - –≤–∏–≤–µ–¥—ñ—Ç—å –ø—Ä–æ–º—ñ–∂–Ω—ñ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∏
3. –ù–∞—Ä–µ—à—Ç—ñ –ø—Ä–æ—Ç–µ—Å—Ç—É–π—Ç–µ Load - –ø–µ—Ä–µ–≤—ñ—Ä—Ç–µ —â–æ —Ñ–∞–π–ª–∏ —Å—Ç–≤–æ—Ä—é—é—Ç—å—Å—è –ø—Ä–∞–≤–∏–ª—å–Ω–æ  
4. –¢—ñ–ª—å–∫–∏ –ø—ñ—Å–ª—è —Ü—å–æ–≥–æ –æ–±–≥–æ—Ä—Ç–∞–π—Ç–µ –≤—Å–µ –≤ —Ñ—É–Ω–∫—Ü—ñ—é

### –Ø–∫ –ø–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏ —â–æ –≤—Å–µ –ø—Ä–∞—Ü—é—î:
- –í–∏–≤–æ–¥—å—Ç–µ –Ω–∞ –µ–∫—Ä–∞–Ω, —è–∫–∏–π –µ—Ç–∞–ø –∑–∞—Ä–∞–∑ –≤—ñ–¥–±—É–≤–∞—î—Ç—å—Å—è
- –í–∏–≤–µ–¥—ñ—Ç—å –∫—ñ–ª—å–∫—ñ—Å—Ç—å –∑–∞–ø–∏—Å—ñ–≤ –ø—ñ—Å–ª—è –∫–æ–∂–Ω–æ–≥–æ –∫—Ä–æ–∫—É
- –ü–æ–∫–∞–∂—ñ—Ç—å –ø–µ—Ä—à—ñ 5 —Ä—è–¥–∫—ñ–≤ –∫–æ–∂–Ω–æ—ó –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ—ó —Ç–∞–±–ª–∏—Ü—ñ
- –ü–µ—Ä–µ–≤—ñ—Ä—Ç–µ —â–æ –¥–∞—Ç–∏ –Ω–∞–ª–µ–∂–∞—Ç—å 2004 —Ä–æ–∫—É
- –ü–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—è —â–æ –º–∞—Ä–∂–∞ –ø—Ä–∏–±—É—Ç–∫—É –≤ —Ä–æ–∑—É–º–Ω–∏—Ö –º–µ–∂–∞—Ö (0-50%)

In [22]:
def create_report(engine, output_dir="reports"):
    """
    –°—Ç–≤–æ—Ä—é—î –∫–æ–º–ø–ª–µ–∫—Å–Ω–∏–π –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–∏–π –∑–≤—ñ—Ç –∑ ETL –ø—Ä–æ—Ü–µ—Å–æ–º
    """
    print("üöÄ –ó–∞–ø—É—Å–∫ ETL –ø–∞–π–ø–ª–∞–π–Ω—É...")

    # –°—Ç–≤–æ—Ä—é—î–º–æ –¥–∏—Ä–µ–∫—Ç–æ—Ä—ñ—é –¥–ª—è –∑–≤—ñ—Ç—ñ–≤
    os.makedirs(output_dir, exist_ok=True)
    timestamp = datetime.datetime.now().strftime("%Y%m%d_%H%M%S")
    
    try:
        # EXTRACT: –í–∏—Ç—è–≥—É—î–º–æ –¥–∞–Ω—ñ –∑ –∫—ñ–ª—å–∫–æ—Ö –¥–∂–µ—Ä–µ–ª

        print("üì• 1. EXTRACT - –í–∏—Ç—è–≥—É–≤–∞–Ω–Ω—è –¥–∞–Ω–∏—Ö...")

        # 1.1 –¥–∞–Ω—ñ –ø—Ä–æ –≤–∏–∫–æ–Ω–∞–Ω—ñ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –∑–∞ 2004 —Ä—ñ–∫ - –∑'—î–¥–Ω–∞—Ç–∏ —Ç–∞–±–ª–∏—Ü—ñ orders, orderdetails, products, customers
        orders_query = text("""
        SELECT
        o.orderNumber,
        o.orderDate,
        c.customerName,
        c.city,
        c.state, 
        c.country,
        p.productName,
        p.buyPrice ,
        p.quantityInStock,
        od.quantityOrdered,
        od.priceEach
    FROM
        orders AS o
    JOIN
        customers AS c ON o.customerNumber = c.customerNumber
    JOIN
        orderdetails AS od ON o.orderNumber = od.orderNumber
    JOIN
        products AS p ON od.productCode = p.productCode
    WHERE
        YEAR(o.orderDate) = 2004
        AND o.status = 'Shipped'
    ORDER BY
        o.orderDate
        """)

        df_orders = pd.read_sql(orders_query, engine) #, parse_dates=['hire_date', 'birth_date'])

                # 1.2 –¥–∞–Ω—ñ –ø—Ä–æ –ø—Ä–æ–¥—É–∫—Ç–∏ - –Ω–∞–∑–≤–∏, –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó, —Ü—ñ–Ω–∏
        product_query = text("""
         SELECT
    p.productName,
    pl.productLine,
    p.buyPrice
FROM
    products AS p
JOIN
    productlines AS pl ON p.productLine = pl.productLine
ORDER BY
    pl.productLine, p.productName;
        """)

        df_product = pd.read_sql(product_query, engine) #, parse_dates=['from_date', 'to_date'])
        
         # 1.3 –ö—É—Ä—Å–∏ –≤–∞–ª—é—Ç
        try:
            df_currencies = pd.read_sql("SELECT * FROM curr_rates ORDER BY rate_date DESC", engine)
            eur_rate = df_currencies.loc[df_currencies['currency'] == 'EUR', 'rate'].iloc[0]
        except:
            df_currencies = pd.DataFrame()  # –Ø–∫—â–æ —Ç–∞–±–ª–∏—Ü—ñ –Ω–µ–º–∞—î

        print(f"–ó–∞–≤–∞–Ω—Ç–∞–∂–µ–Ω–æ: {len(df_orders)} –∑–∞–ø–∏—Å—ñ–≤ –≤–∏–∫–æ–Ω–∞–Ω–∏—Ö –∑–∞–º–æ–≤–ª–µ–Ω—å, {len(df_product)} –∑–∞–ø–∏—Å—ñ–≤ –ø—Ä–æ–¥—É–∫—Ç—ñ–≤")

        # TRANSFORM: –û–±—Ä–æ–±–ª—è—î–º–æ —Ç–∞ –∑–±–∞–≥–∞—á—É—î–º–æ –¥–∞–Ω—ñ –≤ Pandas
        print("üîß 2. TRANSFORM - –û–±—Ä–æ–±–∫–∞ —Ç–∞ –∑–±–∞–≥–∞—á–µ–Ω–Ω—è...")
        # profit_per_item - –ø—Ä–∏–±—É—Ç–æ–∫ –∑ –æ–¥–Ω–æ–≥–æ —Ç–æ–≤–∞—Ä—É (–≤–∏–∫–æ—Ä–∏—Å—Ç–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫–∏: priceEach - buyPrice)
        df_orders['profit_per_item'] = df_orders['priceEach'] - df_orders['buyPrice']
                
        # total_profit - –∑–∞–≥–∞–ª—å–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑ —Ç–æ–≤–∞—Ä–Ω–æ—ó –ø–æ–∑–∏—Ü—ñ—ó (–≤–∏–∫–æ—Ä–∏—Å—Ç–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫–∏: profit_per_item √ó quantityOrdered)
        df_orders['total_profit'] = df_orders['profit_per_item'] * df_orders['quantityOrdered']
        
        #total_amount_eur - —Å—É–º–∞ –≤ —î–≤—Ä–æ (–≤–∏–∫–æ—Ä–∏—Å—Ç–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫–∏: total_amount / eur_rate)
        df_orders['total_amount'] = df_orders['priceEach'] * df_orders['quantityOrdered']
        df_orders['total_amount_eur'] = df_orders['total_amount'] / eur_rate

        #2.2 –°—Ç–≤–æ—Ä–∏—Ç–∏ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω—É —Ç–∞–±–ª–∏—Ü—é –ø–æ –∫—Ä–∞—ó–Ω–∞—Ö (–¢–û–ü-5):

        country_agg = df_orders.groupby('country').agg(
            unique_orders=('orderNumber', 'nunique'), #–ö—ñ–ª—å–∫—ñ—Å—Ç—å —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–∞–º–æ–≤–ª–µ–Ω—å - —É–Ω—ñ–∫–∞–ª—å–Ω—ñ –∑–Ω–∞—á–µ–Ω–Ω—è –∫–æ–ª–æ–Ω–∫–∏ orderNumber
            total_amount=('total_amount', 'sum'),     #–ó–∞–≥–∞–ª—å–Ω–∏–π –¥–æ—Ö—ñ–¥ - —Å—É–º–∞ –∫–æ–ª–æ–Ω–∫–∏ total_amount
            total_profit=('total_profit', 'sum'),     #–ó–∞–≥–∞–ª—å–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ - —Å—É–º–∞ –∫–æ–ª–æ–Ω–∫–∏ total_profit
            total_quantity=('quantityOrdered', 'sum')  #–ö—ñ–ª—å–∫—ñ—Å—Ç—å –ø—Ä–æ–¥–∞–Ω–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤ - —Å—É–º–∞ –∫–æ–ª–æ–Ω–∫–∏ quantityOrdered
        ).reset_index()
        
        #–ú–∞—Ä–∂–∞ –ø—Ä–∏–±—É—Ç–∫—É (%) - (–∑–∞–≥–∞–ª—å–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ / –∑–∞–≥–∞–ª—å–Ω–∏–π –¥–æ—Ö—ñ–¥) √ó 100
        country_agg['profit_margin_percent'] = (country_agg['total_profit'] / country_agg['total_amount']) * 100 
        df_countries_top5 = country_agg.sort_values(by='total_amount', ascending=False).head(5)

         # 2.3 –°—Ç–≤–æ—Ä–∏—Ç–∏ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω—ñ —Ç–∞–±–ª–∏—Ü—ñ –ø–æ –ø—Ä–æ–¥—É–∫—Ç–æ–≤–∏—Ö –ª—ñ–Ω—ñ—è—Ö
        
        product_agg = df_orders.groupby('productName').agg(
            unique_orders=('orderNumber', 'nunique'), #–ö—ñ–ª—å–∫—ñ—Å—Ç—å —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–∞–º–æ–≤–ª–µ–Ω—å - —É–Ω—ñ–∫–∞–ª—å–Ω—ñ –∑–Ω–∞—á–µ–Ω–Ω—è –∫–æ–ª–æ–Ω–∫–∏ orderNumber
            total_amount=('total_amount', 'sum'),      #–ó–∞–≥–∞–ª—å–Ω–∏–π –¥–æ—Ö—ñ–¥ - —Å—É–º–∞ –∫–æ–ª–æ–Ω–∫–∏ total_amount
            total_profit=('total_profit', 'sum'),      #–ó–∞–≥–∞–ª—å–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ - —Å—É–º–∞ –∫–æ–ª–æ–Ω–∫–∏ total_profit
            total_quantity=('quantityOrdered', 'sum')  #–ö—ñ–ª—å–∫—ñ—Å—Ç—å –ø—Ä–æ–¥–∞–Ω–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤ - —Å—É–º–∞ –∫–æ–ª–æ–Ω–∫–∏ quantityOrdered
        ).reset_index()

        product_agg['profit_margin_percent'] = (product_agg['total_profit'] / product_agg['total_amount']) * 100  #–ú–∞—Ä–∂–∞ –ø—Ä–∏–±—É—Ç–∫—É (%) - (–∑–∞–≥–∞–ª—å–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ / –∑–∞–≥–∞–ª—å–Ω–∏–π –¥–æ—Ö—ñ–¥) √ó 100
        df_product_lines = product_agg.sort_values(by='total_amount', ascending=False)

        # 3.1 –ó–±–µ—Ä–µ–∂–µ–Ω–Ω—è Excel —Ñ–∞–π–ª—É –∑ –≤–∫–ª–∞–¥–∫–∞–º–∏
        output_file_path = os.path.join(output_dir, f"sales_report_{timestamp}.xlsx")
        
        with pd.ExcelWriter(output_file_path, engine='xlsxwriter') as writer:
            df_countries_top5.to_excel(writer, sheet_name='Top_Countries', index=False)
            df_product_lines.to_excel(writer, sheet_name='Product_Lines', index=False)
            print("‚úÖ –ó–≤—ñ—Ç —É—Å–ø—ñ—à–Ω–æ –∑–±–µ—Ä–µ–∂–µ–Ω–æ —É —Ñ–∞–π–ª Excel.")

_IncompleteInputError: incomplete input (3822508859.py, line 116)